<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <vue-editable-grid
    id="mygrid"
    ref="grid"
    class="my-grid-class"
    :column-defs="columnDefs"
    :row-data="rows"
    row-data-key="shipmentId"
    @row-selected="rowSelected"
  >
    <template v-slot:header>
      Number of {{ title }}
    </template>
    <template v-slot:header-r>
      <el-input-number v-model="num" :min="1" size="mini" @change="updateTable" @keyup.enter.native="updateTable" />
    </template>
  </vue-editable-grid>
</template>

<script>
export default {
  props: ['title','header','matrix'], // eslint-disable-line
  data() {
    return {
      num: 1,
      rows: []
      // columnDefs: [
      //   { sortable: true, field: 'data', type: 'numeric', headerName: 'Data', editable: true },
      // ],
    }
  },
  computed: {
    columnDefs() {
      var headers = []
      for (var i = 0; i < this.header.length; i++) {
        headers.push({ sortable: true, field: this.header[i], type: 'numeric', headerName: this.header[i], editable: true })
      }
      return headers
    }
  },
  methods: {
    rowSelected() {
      const array = this.rows.map(obj => Object.values(obj))
      this.$emit('update:matrix', array)
    },
    updateTable() {
      var gap = this.rows.length - this.num
      if (gap > 0) {
        for (var i = 0; i < gap; i++) {
          this.rows.pop()
        }
      }
      if (gap < 0) {
        for (var i = 0; i > gap; i--) {
          const obj = this.header.reduce((o, key) => ({ ...o, [key]: 0 }), {})
          this.rows.push(obj)
        }
      }
    }
  }
}
</script>
