<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <el-form ref="form" :model="form">
      <el-row :gutter="10">
        <el-form-item>
          <el-button icon="el-icon-check" round data-cy="submit_form" @click="submitForm('form')">Submit</el-button>
          <!-- <el-button icon="el-icon-close" round data-cy="rest_form" @click="resetForm('form')">Reset</el-button> -->
        </el-form-item>
        <el-card>
          <div slot="header" />
          <div>
            <el-row :gutter="10">
              <el-col :span="12">
                <el-tooltip placement="top" :visible-arrow="true">
                  <div slot="content">Express capture efficiency of a WEC, which is the ratio of the power captured divided<br/>by the wave power per unit length and the device characteristic dimension</div>
                  <el-form-item label="Capture Width Ratio" required>
                    <el-input-number v-model="form.capture_width_ratio" :precision="2" :min="0" :step="0.1" :max="10" />
                    <el-alert v-if="form.capture_width_ratio>1"
                        style="margin-top: 20px"
                        type="warning">The provide CWR is above 1. This migh correspond to an efficiency larger than 100%. Please verify the entered value.
                      </el-alert>
                  </el-form-item>
                </el-tooltip>
              </el-col>
              <el-col :span="12">
                <el-form-item label="Archetype" prop="machine_archetype">
                  <el-select v-model="form.machine_archetype" data-cy="archetype">
                    <el-option label="Point Absorber" value="point_absorber" />
                    <el-option label="Terminator" value="terminator" />
                    <el-option label="Attenuator" value="attenuator" />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row :gutter="10">
              <el-col :span="24">
                <el-image
                  style="width: 400px"
                  :src="machine_image"
                  fit="scale-down"
                />
              </el-col>
            </el-row>
          </div>
        </el-card>

      </el-row>
    </el-form>
  </div>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'
import mixin from '../../mixin.js'

const attenuator = require('@/assets/attenuator.jpeg')
const terminator = require('@/assets/terminator.jpeg')
const point_absorber = require('@/assets/point_absorber.jpeg')

export default {
  name: 'ModelWEC1',
  mixins: [mixin],
  props: {
    isActive: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      form: {
        capture_width_ratio: null,
        machine_archetype: 'point_absorber'
      },
      attenuator,
      terminator,
      point_absorber
    }
  },
  computed: {
    machine_image() {
      if (this.form.machine_archetype == 'terminator') {
        return this.terminator
      } else if (this.form.machine_archetype == 'attenuator') {
        return attenuator
      }
      return this.point_absorber
    },
    dataLock() {
      return this.$store.getters.completion_state.lock
    }
  },
  created() {
    this.fetch_inputs_model(this.studyId, 1, 'wec')
    this.fetch_project(this.studyId)
  },
  methods: {
    submitForm(formName) {
      if ( this.dataLock ) {
        this.$notify({
          title: 'Data Locked',
          message: 'The data for this entity is locked and cannot be saved to the DB. Please go to the main module and fork the study or create a new entity.',
          duration: 0,
          type: 'warning'
        });
        return false
      }
      console.log('SAVE', this.$refs[formName]._props['model'])
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.save_inputs_model(this.studyId, 1, 'tec', this.$refs[formName]._props['model'])
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    reset() {
      console.log('TBI')
    }
  }
}
</script>
