<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <vue-editable-grid
    id="mygrid"
    ref="grid"
    class="my-grid-class"
    :column-defs="columnDefs"
    :row-data="rows"
    row-data-key="shipmentId"
    @row-selected="rowSelected"
  />
</template>

<script>
export default {
  props: ['n_rows','header','matrix'], // eslint-disable-line
  data() {
    return {
    }
  },
  computed: {
    rows() {
      var list = []
      for (var i = 0; i < this.n_rows; i++) {
        const obj = this.header.reduce((o, key) => ({ ...o, [key]: 0 }), {})
        list.push(obj)
      }
      return list
    },
    columnDefs() {
      var headers = []
      for (var i = 0; i < this.header.length; i++) {
        headers.push({ sortable: false, field: this.header[i], type: 'numeric', headerName: this.header[i], editable: true })
      }
      return headers
    }
  },
  methods: {
    rowSelected() {
      const array = this.rows.map(obj => Object.values(obj))
      this.$emit('update:matrix', array)
    }
  }
}
</script>
