<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <el-form
    ref="form"
    :model="form"
    :rules="rules"
    label-width="150px"
    inline-message=true
    size="mini"
  >
    <el-row :gutter="10">
      <el-button icon="el-icon-check" round data-cy="submit_form_dimensions" @click="submitForm('form')">Submit</el-button>
    </el-row>


    <!-- <el-row :gutter="10">
      <el-col :span="24">
        <div class="grid-container">
          <div class="grid-item1">Name</div>
          <div class="grid-item2">Unit</div>
          <div class="grid-item3">Value</div>

          <template v-for="{label, name, unit} in formData">
            <div class="grid-item1">{{name}}</div>
            <div class="grid-item2">{{unit}}</div>
            <el-form-item class="grid-itemForm">
              <el-input-number v-model="form[label]" :precision="2" :step="0.1" :min="0" :controls="false" />
            </el-form-item>
          </template>

        </div>
      </el-col>
    </el-row> -->
    <el-row :gutter="10">
      <div style="height: 20px" />
      <el-table
        :data="formData"
        style="width: 100%">
        <el-table-column
          prop="name"
          label="Name">
        </el-table-column>
        <el-table-column
          prop="label"
          label="Value"
          align="right"
          >
          <template slot-scope="scope">
             <el-form-item :prop="scope.row.label" style="margin-bottom:0px">
                <el-input-number v-if="scope.row.type=='input'" :disabled="scope.row.disabled" v-model="form[scope.row.label]" :controls="false"></el-input-number>
                <el-select v-else v-model="form[scope.row.label]" clearable placeholder="Select">
                  <el-option
                    v-for="item in scope.row.choice"
                    :key="item"
                    :label="item"
                    :value="item">
                  </el-option>
                </el-select>
              </el-form-item>
          </template>
        </el-table-column>
        <el-table-column
          prop="unit"
          label="Unit"
          width="80"
          align="right">
        </el-table-column>
      </el-table>
    </el-row>
    <!-- <el-row :gutter="10">
      <el-col :span="8">
        <el-card>
          <div slot="header" />
          <div>
            <el-form-item label="Total Height">
              <el-input-number v-model="form.height" :precision="2" :step="0.1" :min="0" data-cy="total_height" />
            </el-form-item>
            <el-form-item label="Total Width">
              <el-input-number v-model="form.width" :precision="2" :step="0.1" :min="0" data-cy="total_width" />
            </el-form-item>
            <el-form-item label="Total Length">
              <el-input-number v-model="form.length" :precision="2" :step="0.1" :min="0" data-cy="total_length" />
            </el-form-item>
            <el-form-item label="Footprint Radius">
              <el-input-number v-model="form.footprint_radius" :precision="2" :step="0.1" :min="0" data-cy="footprint_radius" />
            </el-form-item>
          </div>
        </el-card>
      </el-col>
      <el-col :span="8">
        <el-card>
          <div slot="header" />
          <div>
            <el-form-item label="Characteristic Dimension" required>
              <el-input-number v-model="form.characteristic_dimension" :precision="2" :step="0.1" :min="0" data-cy="characteristic_dimension" />
            </el-form-item>
            <el-form-item label="Draft" required>
              <el-input-number v-model="form.draft" :precision="2" :step="0.1" :min="0" data-cy="draft" />
            </el-form-item>
            <el-form-item label="Submerged Volume">
              <el-input-number v-model="form.submerged_volume" :precision="2" :step="0.1" :min="0" data-cy="submerged_volume" />
            </el-form-item>
            <el-form-item label="Mass" required>
              <el-input-number v-model="form.mass" :precision="2" :step="0.1" :min="0" data-cy="mass" />
            </el-form-item>
          </div>
        </el-card>
      </el-col>
      <el-col :span="8">
        <el-card>
          <div slot="header" />
          <div>
            <el-form-item label="Wet Area">
              <el-input-number v-model="form.wet_area" :precision="2" :step="0.1" :min="0" data-cy="wet_area" />
            </el-form-item>
            <el-form-item v-if="complexity==3" label="Wet Frontal Area">
              <el-input-number v-model="form.wet_frontal_area" :precision="2" :step="0.1" :min="0" data-cy="wet_frontal_area" />
            </el-form-item>
            <el-form-item v-if="complexity==3" label="Dry Frontal Area">
              <el-input-number v-model="form.dry_frontal_area" :precision="2" :step="0.1" :min="0" data-cy="dry_frontal_area" />
            </el-form-item>
            <el-form-item v-if="complexity==3" label="Beam Wet Area">
              <el-input-number v-model="form.beam_wet_area" :precision="2" :step="0.1" :min="0" data-cy="beam_wet_area" />
            </el-form-item>
          </div>
        </el-card>
      </el-col>
    </el-row> -->
  </el-form>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'

export default {
  data() {
    var checkCharacteristicDimension = (rule, value, callback) => {
      debugger
        if (!value || value<=0) {
          return callback(new Error('Please input a value larger than 0 m'));
        } else {
          callback();
        }
      };
    var checkHubHeight = (rule, value, callback) => {
      debugger
        if (this.machine.toLowerCase() !== 'tec') { callback() }
        if (!value || value<=this.form.characteristic_dimension/2) {
          return callback(new Error('Please input a value larger than the Rotor Radius'));
        } else {
          callback();
        }
      };
    return {
      rules: {
        characteristic_dimension: [
          { required: true, validator: checkCharacteristicDimension, trigger: 'change' }
        ],
        hub_height: [
          { required: true, validator: checkHubHeight, trigger: 'change' }
        ]
      },
      drawer: false,
      complexity: null,
      machine: '',
      formData: [
        {disabled: false, label: "characteristic_dimension", name: "Characteristic Dimensions", unit: "m", type: 'input'},
        {disabled: false, label: "hub_height", name: "Hub Height", unit: "m", type: 'input'},
        {disabled: false, label: "height", name: "Total Height", unit: "m", type: 'input'},
        {disabled: false, label: "width", name: "Total Width", unit: "m", type: 'input'},
        {disabled: false, label: "length", name: "Total Length", unit: "m", type: 'input'},
        {disabled: false, label: "draft", name: "Draft", unit: "m", type: 'input'},
        {disabled: false, label: "mass", name: "Total Mass", unit: "kg", type: 'input'},
        {disabled: false, label: "submerged_volume", name: "Submerged Volume", unit: "mc", type: 'input'},
        {disabled: false, label: "wet_profile", name: "Wet Area Simplified Profile", unit: "-", type: 'mulitple', choice: ["cylinder","rectangular"]},
        {disabled: false, label: "wet_area", name: "Wet Area", unit: "mq", type: 'input'},
        {disabled: false, label: "wet_frontal_area", name: "Wet Frontal Area", unit: "mq", type: 'input'},
        {disabled: false, label: "dry_profile", name: "Dry Area Simplified Profile", unit: "-", type: 'mulitple', choice: ["cylinder","rectangular"]},
        {disabled: false, label: "dry_frontal_area", name: "Dry Frontal Area", unit: "mq", type: 'input'},
        {disabled: false, label: "footprint_radius", name: "Footprint Radius", unit: "m", type: 'input'}
      ],
      form: {
        characteristic_dimension: 10,
        hub_height: 11,
        wet_area: 1,
        draft: 1,
        height: 1,
        width: 1,
        length: 1,
        submerged_volume: 1,
        wet_frontal_area: 1,
        dry_frontal_area: 1,
        beam_wet_area: 1,
        mass: 1,
        footprint_radius: 1
      },
      // tableData: [{
      //       value: 0,
      //       name: 'Total Mass',
      //       unit: 'kg'
      //     }, {
      //       value: 0,
      //       name: 'Characteristic Dimensions',
      //       unit: 'm'
      //     },
      //      {
      //       value: 10,
      //       name: 'Hub Height',
      //       unit: 'm'
      //     },
      //     {
      //       value: 0,
      //       name: 'Wet Area',
      //       unit: 'mq'
      //     },
      //     {
      //       value: 0,
      //       name: 'Draft',
      //       unit: 'm'
      //     },
      //     {
      //       value: 0,
      //       name: 'Height',
      //       unit: 'm'
      //     },
      //     {
      //       value: 0,
      //       name: 'Width',
      //       unit: 'm'
      //     },
      //     {
      //       value: 0,
      //       name: 'Length',
      //       unit: 'm'
      //     },
      //     {
      //       value: 0,
      //       name: 'Submerged Volumes',
      //       unit: 'mc'
      //     },
      //     {
      //       value: 0,
      //       name: 'Width',
      //       unit: 'm'
      //     },
      //     {
      //       value: 0,
      //       name: 'Wet Frontal Area',
      //       unit: 'mq'
      //     },
      //     {
      //       value: 0,
      //       name: 'Dry Frontal Area',
      //       unit: 'mq'
      //     },
      //     {
      //       value: 0,
      //       name: 'Footprint Radius',
      //       unit: 'm'
      //     },
      //     {
      //       value: 0,
      //       name: 'Beam Wet Area',
      //       unit: 'mq'
      //     }
      //     ]
    }
  },
  computed: {
    studyId() {
      return this.$store.getters.studyId
    },
    dataLock() {
      return this.$store.getters.completion_state.lock
    }
  },
  created() {
    this.fetch_inputs()
    this.fetch_project()
  },
  methods: {
    ...mapActions({
      update_project_progress: 'status/update_progress'
    }),
    submitForm(formName) {
      if ( this.dataLock ) {
        this.$notify({
          title: 'Data Locked',
          message: 'The data for this entity is locked and cannot be saved to the DB. Please go to the main module and fork the study or create a new entity.',
          duration: 0,
          type: 'warning'
        });
        return false
      }
      this.$refs[formName].validate(valid => {
        debugger
        if (valid) {
          this.save_inputs(this.$refs[formName]._props['model'])
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    fetch_project() {
      const path = `${process.env.VUE_APP_API_URL}/mc/${this.studyId}`

      axios
        .get(path)
        .then(res => {
          this.complexity = res.data.complexity
          this.machine = res.data.type
          if ( this.machine.toLowerCase() !== 'tec' ) {
            this.formData.find( o => o.label === 'hub_height').disabled = true
            this.formData.find( o => o.label === 'characteristic_dimension').name = 'Characteristic Dimension'
          } else {
            this.formData.find( o => o.label === 'hub_height').disabled = false
            this.formData.find( o => o.label === 'characteristic_dimension').name = 'Rotor Diameter'
          }
        })
        .catch(error => {
          console.error(error)
        })
    },
    fetch_inputs() {
      const path = `${process.env.VUE_APP_API_URL}/mc/${this.studyId}/dimensions`

      axios
        .get(path)
        .then(res => {
          this.form = res.data
          this.$store.dispatch('studies/setCharDim', { characteristicLength: this.form.characteristic_dimension })
          this.$store.dispatch('studies/updateStatus', { key: 'dimensions' , value: true })
        })
        .catch(error => {
          this.$store.dispatch('studies/updateStatus', { key: 'dimensions' , value: false })
          console.error(error)
        })
    },
    reset() {
      for (const key in this.form) {
        this.form[key] = null
      }
    },
    save_inputs(payload) {
      const path = `${process.env.VUE_APP_API_URL}/mc/${this.studyId}/dimensions`

      axios
        .put(path, payload)
        .then(res => {
          debugger
          this.$store.dispatch('studies/setCharDim', { characteristicLength: payload.characteristic_dimension })
          this.$message({
            message: 'Inputs saved',
            type: 'success' })
          this.$store.dispatch('studies/updateStatus', { key: 'dimensions' , value: true })
        })
        .catch(error => {
          this.$message({
            message: error,
            type: 'error' })
        })
    },
  }
}
</script>

<style scoped>
.grid-container {
  margin-top: 20px;
  padding-top: 10px;
   display: grid;
   grid-gap: 1rem;
   grid-template-columns:  repeat(3, 350px);
   grid-template-rows: repeat(11, 35px);
   background-color: #FFF;
  /* background-color: #FFF;
  display: grid;
  grid: 50px / auto auto 50%; */
}


.grid-item1 {
  padding-left: 20px;
  /* border: 5px solid #87b5ff; */
   /* border-radius: 3px; */
   font-size: 1em;
   font-family: sans-serif;
   /* background-color: #1c57b5 */
   border-bottom: 1px solid #b4b0ab;
    /* padding-left: 10px;
    align-self: center;
    position: relative;
    border-bottom: 1px solid #b4b0ab; */
    /* background-color: cornflowerblue; */
}

.grid-item2 {
  /* border: 5px solid #87b5ff;
   border-radius: 3px; */
   font-size: 1em;
   font-family: sans-serif;
   border-bottom: 1px solid #b4b0ab;
   /* background-color: #1c57b5 */
    /* align-self: center;
    position: relative;
    border-bottom: 1px solid #b4b0ab; */
    /* background-color: rebeccapurple; */
}

.grid-item3 {
  border-bottom: 1px solid #b4b0ab;
  padding-left: 150px;
  /* border: 5px solid #87b5ff;
   border-radius: 3px; */
   font-size: 1em;
   font-family: sans-serif;
   /* background-color: #1c57b5 */
    /* width: 100%;
    justify-self: right;
    align-self: center;
    position: relative;
    border-bottom: 1px solid #b4b0ab; */
    /* background-color: yellowgreen; */
}

.grid-itemForm {
  height: 100%;
  border-bottom: 1px solid #b4b0ab;
  /* border: 5px solid #87b5ff;
   border-radius: 3px; */
   font-size: 1em;
   font-family: sans-serif;
   /* background-color: #1c57b5 */
    /* width: 100%;
    justify-self: right;
    align-self: center;
    position: relative;
    border-bottom: 1px solid #b4b0ab;
    /* background-color: yellowgreen; */
    /*padding-bottom: 7px; */
}


</style>
