<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <el-button icon="el-icon-check" round data-cy="submit_form" @click="hingeJoint">Add Hinge</el-button>
    <el-button icon="el-icon-check" round data-cy="submit_form" @click="prismaticJoint">Add Prismatic</el-button>

    <el-dialog title="Joint Definition Form" :visible.sync="dialogFormVisible" width= "80%">
      <el-form ref="joint" :model="joint" :rules="rules" label-width="200px">
        <el-form-item>
          <el-button icon="el-icon-check" round data-cy="submit_form" @click="submitForm('joint')">Confirm</el-button>
          <el-button round @click="resetForm('body')">Cancel</el-button>
        </el-form-item>
        <div style="display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #000; padding: 10px 30px;">
          <el-form-item label="Parent Body ID" prop="parent">
            <el-select v-model="joint.parent" placeholder="select">
              <el-option
                v-for="item in bodies_id"
                :key="item"
                :label="item"
                :value="item"
              />
            </el-select>
          </el-form-item>
          <el-form-item label="Child Body ID" prop="child">
            <el-select v-model="joint.child" placeholder="select">
              <el-option
                v-for="item in bodies_id.filter(el=>{return el!=joint.parent})"
                :key="item"
                :label="item"
                :value="item"
              />
            </el-select>
          </el-form-item>
        </div>
        <el-form-item label="" style="margin-left: -18%; margin-right: 0px">
          <el-table :data="joint_t" stripe="stripe">
            <el-table-column prop="name" label="" />
            <el-table-column prop="x" label="X">
              <template slot-scope="scope">
                <el-input-number v-model="scope.row.x" :controls="false" :precision="2" :max="1" size="small" />
              </template>
            </el-table-column>
            <el-table-column prop="y" label="Y">
              <template slot-scope="scope">
                <el-input-number v-model="scope.row.y" :controls="false" :precision="2" :max="1" size="small" />
              </template>
            </el-table-column>
            <el-table-column prop="z" label="Z">
              <template slot-scope="scope">
                <el-input-number v-model="scope.row.z" :controls="false" :precision="2" :max="1" size="small" />
              </template>
            </el-table-column>
          </el-table>
        </el-form-item>
      </el-form>
    </el-dialog>

    <el-table
      :data="joints"
      style="width: 100%"
    >
      <el-table-column
        prop="ID"
        label="ID"
      />
      <el-table-column
        prop="parent"
        label="Parent"
      />
      <el-table-column
        prop="child"
        label="Child"
      />
      <el-table-column
        label="Axis of Application"
      >
        <template slot-scope="scope">
          <span style="margin-left: 10px">[{{ scope.row.joint_axis[0] }}, {{ scope.row.joint_axis[1] }}, {{ scope.row.joint_axis[2] }}]</span>
        </template>
      </el-table-column>
      <el-table-column
        label="Point of Application"
      >
        <template slot-scope="scope">
          <span style="margin-left: 10px">[{{ scope.row.point_of_application[0] }}, {{ scope.row.point_of_application[1] }}, {{ scope.row.point_of_application[2] }}]</span>
        </template>
      </el-table-column>
      <el-table-column
        label="Operations"
        width="120"
      >
        <template slot-scope="scope">
          <el-button
            type="text"
            size="small"
            icon="el-icon-delete"
            @click.native.prevent="deleteRow(scope.$index, joints)"
          >
            Remove
          </el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import ArrayInput from '@/components/ArrayInput/index.vue'

export default { // eslint-disable-line
  components: { ArrayInput },
  data() {
    return {
      rules: {
        parent: [
          { required: true, message: 'Please select a parent body', trigger: 'blur' }
        ],
        child: [
          { required: true, message: 'Please select a child body', trigger: 'blur' }
        ]
      },
      ID: 0,
      // bodies_id: [0,1,2,3,4,5],
      dialogFormVisible: false,
      joint_t: [{
        title: 'point_of_application',
        name: "Point of Application",
        x: 0,
        y: 0,
        z: 0 }, {
        title: 'axis_of_application',
        name: "Axis of Application",
        x: 1,
        y: 0,
        z: 0 }],
      joint: {
        ID: 0,
        type: 'hinge',
        parent: null,
        child: null,
        point_of_application: [],
        joint_axis: [] }
    }
  },
  computed: {
    bodies_id() {
      return this.$store.getters.wecBodiesIDs
    },
    joints() {
      return this.$store.getters.wecJoints
    }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.addJoint()
        } else {
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
      this.dialogFormVisible = false
    },
    hingeJoint() {
      this.dialogFormVisible = true,
      this.joint.type = 'hinge'
    },
    prismaticJoint() {
      this.dialogFormVisible = true,
      this.joint.type = 'prismatic'
    },
    addJoint() {
      debugger
      this.joint.ID = this.ID
      this.ID++
      this.joint.point_of_application = [this.joint_t[0].x, this.joint_t[0].y, this.joint_t[0].z]
      this.joint.joint_axis = [this.joint_t[1].x, this.joint_t[1].y, this.joint_t[1].z]
      this.joints.push(this.joint)
      this.reset()
      this.dialogFormVisible = false
      console.log(this.joints)
      this.$store.dispatch('studies/setJoints', { wecJoints: this.joints })
    },
    deleteRow(index, rows) {
      rows.splice(index, 1)
      this.$store.dispatch('studies/setJoints', { wecJoints: this.joints })
    },
    reset() {
      this.joint = {
        type: '',
        parent: null,
        child: null,
        point_of_application: '',
        joint_axis: '' }
      this.joint_t = [{
        title: 'point_of_application',
        name: "Point of Application",
        x: 0,
        y: 0,
        z: 0 }, {
        title: 'axis_of_application',
        name: "Axis of Application",
        x: 1,
        y: 0,
        z: 0 }]
    }
  }
}
</script>
