<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <el-form
    ref="form"
    :model="form"
    label-position="top"
    label-width="120px"
    size="mini"
  >

    <el-row :gutter="10">
      <el-form-item>
        <el-button icon="el-icon-check" round data-cy="submit_form" @click="submitForm('form')">Submit</el-button>
        <!-- <el-button icon="el-icon-close" round data-cy="rest_form" @click="resetForm('form')">Reset</el-button> -->
      </el-form-item>
      <el-col :span="8">
        <el-card>
          <div slot="header" />
          <div>
            <el-form-item label="Power Coefficient" required>
              <el-input-number v-model="form.cp" :precision="2" :step="0.1" :max="1" />
              <el-alert v-if="form.cp>0.593"
                      style="margin-top: 20px"
                      type="warning">Betz Limit exceeded!
                    </el-alert>
            </el-form-item>
            <el-form-item label="Thrust Coefficient" required>
              <el-input-number v-model="form.ct" :precision="2" :step="0.1" :max="1" />
            </el-form-item>
            <!-- <el-form-item label="Tip Speed Ratio" required>
              <el-input-number v-model="form.tip_speed_ratio" :precision="2" :step="0.1" :min="0" :max="10" />
            </el-form-item> -->
          </div>
        </el-card>
      </el-col>

      <el-col :span="8">
        <el-card>
          <div slot="header" />
          <div>
            <el-form-item label="Number Rotor" required>
              <el-input-number v-model="form.number_rotor" :step="1" :max="10" />
            </el-form-item>
            <el-form-item label="Rotors Interdistance" required>
              <el-input-number v-model="form.rotor_interdistance" :step="1" :max="20" />
            </el-form-item>
          </div>
        </el-card>
      </el-col>

      <el-col :span="8">
        <el-card>
          <div slot="header" />
          <div>
            <el-form-item label="Cut In Velocity" required>
              <el-input-number v-model="form.cut_in_velocity" :precision="2" :step="0.1" :min="0" />
            </el-form-item>
            <el-form-item label="Cut Out Velocity" required>
              <el-input-number v-model="form.cut_out_velocity" :step="0.1" :min="form.cut_in_velocity" :max="20" />
            </el-form-item>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </el-form>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'
import mixin from '../../mixin.js'

export default {
  name: 'ModelTEC2',
  mixins: [mixin],
  props: {
    isActive: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    dataLock() {
      return this.$store.getters.completion_state.lock
    }
  },
  data() {
    return {
      form: {
        cp: null,
        ct: null,
        tip_speed_ratio: null,
        cut_in_velocity: 0,
        cut_out_velocity: 10,
        number_rotor: null,
        rotor_interdistance: null
      }
    }
  },
  created() {
    this.fetch_inputs_model(this.studyId, 2, 'tec')
    this.fetch_project(this.studyId)
  },
  methods: {
    submitForm(formName) {
      if ( this.dataLock ) {
        this.$notify({
          title: 'Data Locked',
          message: 'The data for this entity is locked and cannot be saved to the DB. Please go to the main module and fork the study or create a new entity.',
          duration: 0,
          type: 'warning'
        });
        return false
      }
      console.log('SAVE', this.$refs[formName]._props['model'])
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.save_inputs_model(this.studyId, 2, 'tec', this.$refs[formName]._props['model'])
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    reset() {
      this.update_project_progress(15)
    }
  }
}
</script>
