<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <el-drawer
      title=""
      :visible.sync="drawer_open"
      direction="ttb"
    >
      <input ref="json-upload-input" class="json-upload-input" type="file" accept=".json, .jsn, .jscsrc" @change="handleClick">
      <div class="drop" @drop="handleDrop" @dragover="handleDragover" @dragenter="handleDragover">
        Drop json file here or
        <el-button :loading="uploading" style="margin-left:16px;" size="mini" type="primary" @click="handleUpload">
          Browse
        </el-button>
      </div>
    </el-drawer>

    <el-form ref="form" :model="form">
      <el-form-item>
        <el-button icon="el-icon-check" round data-cy="submit_form" @click="submitForm('form')">Submit</el-button>
        <!-- <el-button icon="el-icon-close" round data-cy="rest_form" @click="resetForm('form')">Reset</el-button> -->
        <!-- <el-button style="float: right" icon="el-icon-s-fold" round data-cy="logs_mc" @click="openLogs">Logs</el-button> -->
        <el-button v-if="running" :disabled="calculate_disabled" style="float: right" icon="el-icon-video-play" round data-cy="eval_bem" @click="killBEM">Abort</el-button>
        <el-button v-else :disabled="calculate_disabled" style="float: right" icon="el-icon-video-play" round data-cy="eval_bem" @click="evalBEM">Calculate</el-button>
        <!-- <el-button style="float: right" icon="el-icon-upload" round data-cy="upload_json" @click="uploadInputs">Upload</el-button> -->
      </el-form-item>
      <el-form-item label="Wave Energy Converter Type">
        <el-radio-group v-model="form.radio" @change="wecTypeChanged($event)">
          <el-radio v-model="form.radio" label="1">Single Body</el-radio>
          <el-radio v-model="form.radio" label="2">OWC</el-radio>
          <el-radio v-model="form.radio" label="3">Multibody</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-tabs type="border-card">
        <el-tab-pane label="General Definitions">
          <el-form-item label="Number of wave angles" required>
            <el-input-number v-model="num_wave_angles" :min="3" size="mini" @change="wave_angles_def" />
          </el-form-item>
          <el-form-item label="Number of wave frequencies" required>
            <el-input-number v-model="num_wave_freq" :min="2" size="mini" @change="wave_angles_def" />
          </el-form-item>
          <el-form-item label="Minimum Wave Frequency (rad/s)" required>
            <el-input-number v-model="min_freq" :precision="2" :step="0.1" :min="0.01" :max="max_freq" size="mini" @change="wave_angles_def" />
          </el-form-item>
          <el-form-item label="Maximum Wave Frequency (rad/s)" required>
            <el-input-number v-model="max_freq" :precision="2" :step="0.1" :min="min_freq" size="mini" @change="wave_angles_def" />
          </el-form-item>
          <!-- <vector-input title="wave frequencies" :header="frequency_header" :matrix.sync="frequency"></vector-input> -->
          <el-form-item label="Heading Angle Span (deg)" required>
            <el-input-number v-model="form.heading_angle_span" :precision="1" :min="0" :max="360" />
          </el-form-item>
          <el-form-item label="Water Depth (m)" required>
            <el-input-number v-model="form.water_depth" :precision="1" :min="0" />
          </el-form-item>
          <el-form-item label="Free Body DOFs" required>
            <el-checkbox v-model="checkAll" :indeterminate="isIndeterminate" @change="handleCheckAllChange">Check all</el-checkbox>
            <div style="margin: 15px 0;" />
            <el-checkbox-group v-model="checkedDOF" @change="handleCheckedChange">
              <el-checkbox v-for="dof in dofs" :key="dof" :label="dof">{{ dof }}</el-checkbox>
            </el-checkbox-group>
          </el-form-item>
          <el-form-item label="Estimate Farm Interaction Matrixes" required>
            <el-checkbox v-model="form.get_array_mat" @change="handleCheckArrayMat" />
          </el-form-item>
        </el-tab-pane>
        <el-tab-pane label="Body Definitions">
          <body-description :wec="form.radio" />
        </el-tab-pane>
        <el-tab-pane :disabled="form.radio!='3'" label="Joint Definitions">
          <joint-description />
        </el-tab-pane>
        <el-tab-pane label="Performance Definitions">
          <el-row :gutter="10">
            <el-col :span="24">
              <el-card>
                <div slot="header" />
                <div style="display: flex; justify-content: space-between; align-items: center">
                  <el-form-item label="Wave Spectrum Shape">
                    <el-select v-model="form.wave_spectra.spectrum_type" placeholder="placeholder">
                      <el-option label="Jonswap" value="JONSWAP" />
                    </el-select>
                  </el-form-item>
                  <el-form-item label="Peak Enhancement Factor">
                    <el-input-number v-model="form.wave_spectra.peak_enhancement_factor" :min="1" :max="7" :precision="1" />
                  </el-form-item>
                  <el-form-item label="Angular Spreading">
                    <el-input-number v-model="form.wave_spectra.angular_spreading_factor" :min="0" :max="20" />
                  </el-form-item>
                  <el-form-item label="Power Matrix Fitting">
                    <el-checkbox v-model="form.pm_fitting" ></el-checkbox>
                  </el-form-item>
                </div>
              </el-card>
            </el-col>
          </el-row>
          <el-row :gutter="10" style="margin-top: 20px">
            <el-col :span="8">
              <el-card>
                <div slot="header" style="display: flex; justify-content: space-between; align-items: center">
                  <span>Power Performance Data</span>
                  <upload-excel-component :only-button="true" :on-success="handleSuccess" :before-upload="beforeUpload" />
                </div>
                <div class="app-container">
                  <el-table
                    :data="tableData"
                    border
                    highlight-current-row
                    style="width: 100%;margin-top:20px;"
                    :cell-style="{padding: '0', height: '20px'}"
                  >
                    <el-table-column v-for="item of tableHeader" :key="item" :prop="item" :label="item" />
                  </el-table>
                </div>
              </el-card>
            </el-col>
            <el-col :span="16">
              <PowerMatrix :results="{power_matrix: cwr_mat}" :directions="directions" :tp="tp" :hs="hs"/>
            </el-col>
          </el-row>
        </el-tab-pane>
        <el-tab-pane label="PTO Definitions">
          <el-table :data="pto_def" stripe="stripe" header-align="center">
            <el-table-column prop="title" label="" width="180" />
            <el-table-column prop="val" label="Average PTO Damping" header-align="center">
              <template slot-scope="scope">
                <el-input-number v-model="scope.row.val.pto_d" :controls="false" :precision="2" size="small" />
              </template>
            </el-table-column>
            <el-table-column prop="val" label="Average Mooring Stiffness" header-align="center">
              <template slot-scope="scope">
                <el-input-number v-model="scope.row.val.pto_k" :controls="false" :precision="2" size="small" />
              </template>
            </el-table-column>
            <el-table-column prop="val" label="Additional Damping" header-align="center">
              <template slot-scope="scope">
                <el-input-number v-model="scope.row.val.add_d" :controls="false" :precision="2" size="small" />
              </template>
            </el-table-column>
            <el-table-column prop="val" label="Additional Stiffness" header-align="center">
              <template slot-scope="scope">
                <el-input-number v-model="scope.row.val.add_k" :controls="false" :precision="2" size="small" />
              </template>
            </el-table-column>
          </el-table>
          <!-- <el-card>
              <div slot="header"></div>
              <div>
                <el-form-item label="Average PTO Damping" required>
                  <el-input-number v-model="form.pto_damping" :precision="1" :min="0"></el-input-number>
                </el-form-item>
                <el-form-item label="Average Mooring Stiffness" required>
                  <el-input-number v-model="form.mooring_stiffness" :precision="1" :min="0"></el-input-number>
                </el-form-item>
                <el-form-item label="Average Additional Damping" required>
                  <el-input-number v-model="form.additional_damping" :precision="1" :min="0"></el-input-number>
                </el-form-item>
                <el-form-item label="Average Additional Stiffness" required>
                  <el-input-number v-model="form.additional_stiffness" :precision="1" :min="0"></el-input-number>
                </el-form-item>
              </div>
            </el-card> -->
        </el-tab-pane>
      </el-tabs>
    </el-form>
    <!-- <el-drawer
      title="MC Logs"
      :visible.sync="logs_visible"
      direction="btt"
      size="50%"
      :before-close="handleClose"
    >
      <div>
        <template>
          <el-table
            :data="LogTable"
            height="1000"
            style="width: 100%"
          >
            <el-table-column
              prop="msg"
              label="Message"
            />
          </el-table>
        </template>
      </div>
    </el-drawer> -->
  </div>
</template>

<script>
import _ from 'lodash'
import axios from 'axios'
import { mapActions } from 'vuex'
import mixin from '../../mixin.js'
import UploadExcelComponent from '@/components/UploadExcel/index.vue'
import { Plotly } from 'vue-plotly'
import { reshape, range, squeeze, diag, max, min, zeros } from 'mathjs'
import VectorInput from '@/components/VectorInput/index.vue'
import BodyDescription from '@/components/BodyDescription/index.vue'
import JointDescription from '@/components/JointDescription/index.vue'
import Uploadhdf5Component from '@/components/UploadHdf5/index.vue'
import PowerMatrix from '@/components/PowerMatrix/index.vue'

import { create, all } from 'mathjs'

const config = { }
const math = create(all, config)

const attenuator = require('@/assets/attenuator.jpeg')
const terminator = require('@/assets/terminator.jpeg')
const point_absorber = require('@/assets/point_absorber.jpeg')
const dof_options = ['Surge', 'Sway', 'Heave', 'Roll', 'Pitch', 'Yaw']

export default {
  name: 'ModelWEC3',
  components: {
    Plotly,
    UploadExcelComponent,
    VectorInput,
    BodyDescription,
    JointDescription,
    Uploadhdf5Component,
    PowerMatrix },
  mixins: [mixin],
  props: {
    isActive: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      running: false,
      tp: [],
      hs: [],
      beta: [],
      cwr_mat: [],
      cwr: { tp: [], hs: [], dir: [], cwr: [] },
      directions: {},
      frequency: [],
      frequency_header: ['frequencies, [rad/s]'],
      num_wave_angles: 3,
      num_wave_freq: 3,
      min_freq: 0.01,
      max_freq: 2,
      form: {
        radio: '1',
        pm_fitting: false,
        capture_width_ratio: null,
        pto_damping: 0,
        mooring_stiffness: 0,
        additional_damping: 0,
        additional_stiffness: 0,
        tp_capture_width: null,
        hs_capture_width: null,
        wave_angle_capture_width: null,
        wave_spectra: { spectrum_type: 'JONSWAP', peak_enhancement_factor: 3.3, angular_spreading_factor: 0 },
        heading_angle_span: 0,
        water_depth: 200,
        shared_dof: [0, 0, 0, 0, 0, 0],
        point_application: [0, 0, 0],
        wave_frequency: [],
        wave_direction: [0],
        dofs: [],
        get_array_mat: true,
        cyl_theta: 10,
        cyl_zeta: 11,
        ndof: 0,
        pto_dof: 0,
        mooring_dof: 0,
        bodies: [],
        joints: []
      },
      checkAll: false,
      checkedDOF: [],
      dofs: dof_options,
      all_dofs: false,
      isIndeterminate: false,
      attenuator,
      terminator,
      point_absorber,
      tableData: [],
      tableHeader: [],
      drawer_open: false,
      uploading: false,
      calculate_disabled: true,
      // interval: null,
      pto_def: [],
    }
  },
  computed: {
    bodies() {
      return this.$store.getters.wecBodies
    },
    joints() {

      return this.$store.getters.wecJoints
    },
    machine_image() {
      if (this.form.machine_archetype == 'terminator') {
        return this.terminator
      } else if (this.form.machine_archetype == 'attenuator') {
        return attenuator
      }
      return this.point_absorber
    },
    dataLock() {
      return this.$store.getters.completion_state.lock
    }
  },
  watch: {
    joints() {
      this.handleCheckedChange(this.checkedDOF)
    },
    form: function() {
      debugger
      this.formatData()
      if (this.bodies.length > 0) {
        this.calculate_disabled = false
      }
    }
  },
  created() {
    this.fetch_inputs_model(this.studyId, 3, 'wec')
    this.fetch_project(this.studyId)
  },
  // beforeDestroy: function() {
  //   clearInterval(this.interval)
  // },
  methods: {
    // handleClose(done) {
    //   clearInterval(this.interval)
    //   done()
    // },
    // openLogs() {
    //   this.logs_visible = true
    //   this.fetchLogs()
    //   this.interval = setInterval(function() {
    //     this.fetchLogs()
    //   }.bind(this), 500)
    // },
    // fetchLogs() {
    //   const path = `${process.env.VUE_APP_API_URL}/mc/logs`
    //   axios
    //     .get(path)
    //     .then((res) => {
    //       debugger
    //       this.LogTable = []
    //       this.LogFile = res.data
    //       var today = new Date()
    //       var date = today.getFullYear() + '-'
    //       this.LogFile = this.LogFile.replaceAll(date, '\n' + date)
    //       this.LogFile = this.LogFile.split('\n')
    //       for (let i = this.LogFile.length - 1; i >= 0; i--) {
    //         this.LogTable.push({ msg: this.LogFile[i] })
    //       }
    //     })
    //     .catch((error) => {
    //       console.log(error.message)
    //     })
    // },
    wecTypeChanged(event) {
      if (event == '1') {
        this.form.joints = []
      } else if (event == '2') {
        this.form.joints = [{
          ID: 0,
          type: 'owc',
          parent: 0,
          child: 1,
          point_of_application: [0, 0, 0],
          joint_axis: [0, 0, 1] }]
      } else {
        this.form.joints = this.form.joints.filter(o => o.type != 'owc')
      }
      this.$store.dispatch('studies/setJoints', { wecJoints: this.form.joints })
    },
    evalBEM() {
      if ( this.dataLock ) {
        this.$notify({
          title: 'Data Locked',
          message: 'The data for this entity is locked and cannot be saved to the DB. Please go to the main module and fork the study or create a new entity.',
          duration: 0,
          type: 'warning'
        });
        return false
      }
      this.$confirm('The action will delete the previous results', 'Confirm', {
        confirmButtonText: 'Submit',
        cancelButtonText: 'Discard'
      })
        .then(() => {
          const path = `${process.env.VUE_APP_API_URL}/mc/${this.studyId}/clear`
          axios.delete(path)
            .then(() => {
              // this.openLogs()
              const path = `${process.env.VUE_APP_API_URL}/mc/tasks`
              const payload = { id: this.studyId }
              this.running = true
              axios.post(path, payload)
                .then(res => {
                  console.log('TASK SUBMIT RESULTS', res)
                  this.$message({
                    message: res.data.status + ' task ID: ' + res.data.data.task_id,
                    type: 'success'
                  })
                  // this.$message.success(res.message)
                })
                .catch(error => {
                  this.$message.error(error)
                })
            })
            .catch(error => {
              this.$message.error(error)
              this.running = false
            })
            this.$router.push({ name: "HydroOutput" })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Action Discarded'
          })
        })
    },
    uploadInputs() {
      this.drawer_open = true
    },
    wave_angles_def() {
      this.form.wave_direction = range(0, 360, 360 / this.num_wave_angles).toArray()
    },
    handleCheckArrayMat(val) {
      if (!val) {
        this.$message({
          message: 'If disabled, the Energy Capture module cannot be run.',
          type: 'warning'
        })
      }
    },
    handleCheckAllChange(val) {
      debugger
      this.checkedDOF = val ? dof_options : []
      this.form.shared_dof = val ? [1, 1, 1, 1, 1, 1] : [0, 0, 0, 0, 0, 0]
      this.isIndeterminate = false
      this.handleCheckedChange(this.checkedDOF)
    },
    handleCheckedChange(value) {
      debugger
      const checkedCount = value.length
      this.checkAll = checkedCount === this.dofs.length
      this.isIndeterminate = checkedCount > 0 && checkedCount < this.dofs.length
      for (var i = 0; i < 6; i++) {
        const val = this.checkedDOF.includes(dof_options[i])
        this.form.shared_dof[i] = val ? 1 : 0
      }

      var check_dof = this.dofs.filter((el,ind) => {if (this.form.shared_dof[ind]) return el})
      const d = check_dof.map((dof) => {
          let predef = this.pto_def.filter((el) => {if (el.prop === dof) {return el}})
          if (predef.length !== 0) {
            return predef[0]
          } else {
            return { prop: dof, title: dof, val: { pto_d: 0, pto_k: 0, add_d: 0, add_k: 0 }}
          }
        }
      )
      const j = this.joints.map(joint => {
          let predef_j = this.pto_def.filter((el) => {if (el.title === (joint.type + joint.ID)) {return el}})
          if (predef_j.length !== 0) {
            return predef_j[0]
          } else {
            return { prop: joint.type, title: joint.type + joint.ID, val: { pto_d: 0, pto_k: 0, add_d: 0, add_k: 0 }}
          }
        }
      )

      this.pto_def = d.concat(j)
    },
    beforeUpload(file) {
      const isLt1M = file.size / 1024 / 1024 < 1
      if (isLt1M) {
        return true
      }
      this.$message({
        message: 'Please do not upload files larger than 1m in size.',
        type: 'warning'
      })
      return false
    },
    handleSuccess({ results, header }) {
      if (!header.includes('Hs') ||
          !header.includes('Tp') ||
          !header.includes('Dir') ||
          !header.includes('CWR')
      ) {
        this.$message({
          message: 'Unsupported format: Header name MUST be [Hs, Tp, Dir, CWR]',
          type: 'error'
        })
        return false
      }

      this.tableData = results
      this.tableHeader = header
      this.cwrMatrixHandling()
    },
    formatData() {
      debugger
      this.$store.dispatch('studies/setBodies', { wecBodies: this.form.bodies })
      this.$store.dispatch('studies/setJoints', { wecJoints: this.form.joints })
      this.checkedDOF = this.form.dofs
      this.handleCheckedChange(this.form.dofs)
      debugger
      diag(this.form.pto_damping[0][0][0]).forEach((val, index) => { this.pto_def[index].val.pto_d = val })
      diag(this.form.mooring_stiffness[0][0][0]).forEach((val, index) => { this.pto_def[index].val.pto_k = val })
      diag(this.form.additional_damping[0][0][0]).forEach((val, index) => { this.pto_def[index].val.add_d = val })
      diag(this.form.additional_stiffness[0][0][0]).forEach((val, index) => { this.pto_def[index].val.add_k = val })
      this.num_wave_angles = this.form.wave_direction.length
      this.num_wave_freq = this.form.wave_frequency.length
      this.min_freq = min(this.form.wave_frequency)
      this.max_freq = max(this.form.wave_frequency)
      debugger
      var n_tp = this.form.tp_capture_width.length
      var n_hs = this.form.hs_capture_width.length
      var n_dir = this.form.wave_angle_capture_width.length
      this.tableData = []

      for (let i = 0; i < n_tp; i++) {
        this.tableData.push(
              { Tp: this.form.tp_capture_width[i],
                Hs: this.form.hs_capture_width[i],
                Dir: this.form.wave_angle_capture_width[i],
                CWR: this.form.capture_width_ratio[i] })
      }

      // for (let i = 0; i < n_tp; i++) {
      //   for (let j = 0; j < n_hs; j++) {
      //     for (let k = 0; k < n_dir; k++) {
      //       this.tableData.push(
      //         { Tp: this.form.tp_capture_width[i],
      //           Hs: this.form.hs_capture_width[j],
      //           Dir: this.form.wave_angle_capture_width[k],
      //           CWR: this.form.capture_width_ratio[i][j][k] })
      //     }
      //   }
      // }
      this.tableHeader = ['Tp', 'Hs', 'Dir', 'CWR']
      this.cwrMatrixHandling()
    },
    // unravel(I, X, Y, Z, x, y, z) {
    //   var arr = zeros(x.length, y.length, z.length)._data
    //   var l = 0
    //   var m = 0
    //   var n = 0
    //   for (let i=0; i<I.length; i++) {
    //     l = x.indexOf(X[i])
    //     m = y.indexOf(Y[i])
    //     n = z.indexOf(Z[i])
    //     arr[l][m][n] = I[i]
    //   }
    //   return arr
    // },
    // ravel() {

    // },
    // dataHandling() {
    //   debugger
    //   console.log('DEBUG')
    //   var hs = this.tableData.map( ob => ob.Hs )
    //   var tp = this.tableData.map( ob => ob.Tp )
    //   var dir = this.tableData.map( ob => ob.Dir )
    //   var cwr = this.tableData.map( ob => ob.CWR )

    //   const hs_u = [...new Set(hs)]
    //   const tp_u = [...new Set(tp)]
    //   const dir_u = [...new Set(dir)]

    //   if (hs_u.length*tp_u.length*dir_u.length !== hs.length) {
    //     if (hs_u.length === hs.length && tp_u.length === tp.length && dir_u.length === 1) {
    //       // 1D data provided
    //       var hs_n = []
    //       var tp_n = []
    //       var dir_n = []
    //       var cwr_n = []
    //       for (let ihs=0; ihs<hs_u.length; ihs++) {
    //         for (let itp=0; itp<tp_u.length; itp++) {
    //           for (let idir=0; idir<dir_u.length; idir++) {
    //             hs_n.push(hs_u[ihs])
    //             tp_n.push(tp_u[itp])
    //             dir_n.push(dir_u[idir])
    //             cwr_n.push(cwr[itp])
    //           }
    //         }
    //       }
    //       hs = hs_n
    //       tp = tp_n
    //       dir = dir_n
    //       cwr = cwr_n
    //       debugger
    //     } else {
    //       this.$notify({
    //         title: 'Invalid Data Format',
    //         message: 'The data uploaded conatains repeated elements for the same triplet (Hs, Tp, Dir). Please modify the data and upload the new file.',
    //         type: 'error'
    //       })
    //       this.tableData = []
    //       this.tableHeader = []
    //       return -1
    //     }
    //   }

    //   this.tp = tp
    //   this.hs = hs
    //   this.beta = dir
    //   this.cwr = cwr
    //   this.cwr_mat = this.unravel(cwr, tp, hs, dir, tp_u, hs_u, dir_u)
    //   this.directions = dir_u.reduce((o, el, i) => ({ ...o, [i]: el + ' deg' }), {})
    // },
    submitForm(formName) {
      debugger
      // if ( this.dataLock ) {
      //   this.$notify({
      //     title: 'Data Locked',
      //     message: 'The data for this entity is locked and cannot be saved to the DB. Please go to the main module and fork the study or create a new entity.',
      //     duration: 0,
      //     type: 'warning'
      //   });
      //   return false
      // }
      // this.form.wave_frequency = [...new Set([].concat(...this.frequency))].sort((a, b) => a - b).filter(el => el > 0.001);
      this.form.wave_frequency = _.range(this.min_freq, this.max_freq, (this.max_freq - this.min_freq) / (this.num_wave_freq - 1))
      this.form.wave_frequency.push(this.max_freq)
      this.form.dofs = this.dofs.filter((el,ind) => {if (this.form.shared_dof[ind]) return el})  // used this instead of checkedDOF due to the ordering
      // check minimum dofs definition
      if ( this.form.dofs.length < 1 ) {
        this.$message({
          message: 'No DOF was selected. Action interrupted.',
          type: 'warning'
        })
        return false
      }
      // check bodies definition
      if ( this.form.bodies == null && this.bodies.length === 0 ) {
        this.$message({
          message: 'No Body has been defined yet. Action interrupted',
          type: 'warning'
        })
        return false
      }
      this.form.bodies = this.bodies
      this.form.joints = this.joints
      if ( this.form.bodies.length < 1) {
        this.$message({
          message: 'Please add a body from the Body Definition Tab. Action interrupted',
          type: 'warning'
        })
        return false
      }
      // check joint vs dofs
      if (this.bodies.length > 1 && this.joints.length > 0) {
        var joint
        for (let i = 0; i < this.joints.length; i++) {
          joint = this.joints[i]
          if (joint.type === 'hinge') {
            const [ x, y, z ] = joint.joint_axis
            const [ d1 , d2, d3, ax, ay, az ] = this.form.shared_dof
            if ( ( ax === 1 && x === 0) && ( ay === 1 && y === 0) && ( az === 1 && z === 0) ) {
              this.$notify.warning({
                title: 'Wrong alignment between DOFs and Revolute Joint Axes',
                message: `The Joint ID# ${joint.ID} cannot be projected in any of the rotational DOFs. Action interrupted`,
                duration: 0
              })
              return false
            }
          }
        }
      }
      // check minimum power performance definitions
      if ( this.cwr_mat.length === 0 ){
        this.$message({
          message: 'Missing Inputs Power Performance Inputs. Action interrupted',
          type: 'warning'
        });
        return false;
      }
      // check minimum pto definitions
      var test_pto = this.pto_def.map(ob => ob.val.pto_d)
      if (!test_pto.some(item => item !== 0)) {
        this.$message({
          message: 'No PTO damping has been specified yet. Action interrupted',
          type: 'warning'
        });
        return false;
      }

      // this.form.pto_def = this.pto_def
      // this.form.tp_capture_width = [...new Set(this.cwr.tp)]
      // this.form.hs_capture_width = [...new Set(this.cwr.hs)]
      // this.form.wave_angle_capture_width = [...new Set(this.cwr.dir)]
      // this.form.capture_width_ratio = reshape(this.cwr.cwr, [this.form.wave_angle_capture_width.length,
      //   this.form.hs_capture_width.length,
      //   this.form.tp_capture_width.length])
      debugger
      console.log('TEST')
      const ntp = this.tp.length
      const nhs = this.hs.length
      const nbeta = this.beta.length
      const ndof = test_pto.length
      const pto_d_l = diag(this.pto_def.map(ob => ob.val.pto_d))
      const moor_s_l = diag(this.pto_def.map(ob => ob.val.pto_k))
      const add_d_l = diag(this.pto_def.map(ob => ob.val.add_d))
      const add_s_l = diag(this.pto_def.map(ob => ob.val.add_k))

      var pto_d = math.zeros(ntp, nhs, nbeta, ndof, ndof)
      var moor_s = math.zeros(ntp, nhs, nbeta, ndof, ndof)
      var add_d = math.zeros(ntp, nhs, nbeta, ndof, ndof)
      var add_s = math.zeros(ntp, nhs, nbeta, ndof, ndof)

      for (var it=0; it<ntp; it++){
        for (var ih=0; ih<nhs; ih++){
          for (var id=0; id<nbeta; id++){
            for (var idofi=0; idofi<ndof; idofi++){
              for (var idofj=0; idofj<ndof; idofj++){
                pto_d.subset(math.index(it, ih, id, idofi, idofj), pto_d_l[idofi][idofj])
                moor_s.subset(math.index(it, ih, id, idofi, idofj), moor_s_l[idofi][idofj])
                add_d.subset(math.index(it, ih, id, idofi, idofj), add_d_l[idofi][idofj])
                add_s.subset(math.index(it, ih, id, idofi, idofj), add_s_l[idofi][idofj])
              }
            }
          }
        }
      }
      debugger

      this.form.pto_damping = pto_d._data  //[[[diag(this.pto_def.map(ob => ob.val.pto_d))]]]
      this.form.mooring_stiffness = moor_s._data  //[[[diag(this.pto_def.map(ob => ob.val.pto_k))]]]
      this.form.additional_damping = add_d._data  //[[[diag(this.pto_def.map(ob => ob.val.add_d))]]]
      this.form.additional_stiffness = add_s._data  //[[[diag(this.pto_def.map(ob => ob.val.add_k))]]]

      this.form.tp_capture_width = this.cwr.tp
      this.form.hs_capture_width = this.cwr.hs
      this.form.wave_angle_capture_width = this.cwr.dir
      this.form.capture_width_ratio = this.cwr.cwr
      this.$refs[formName].validate(valid => {
        if (valid) {
          console.log(this.form)
          this.save_inputs_model(this.studyId, 3, 'wec', this.form)
          this.calculate_disabled = false
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    reset() {
      console.log('TBI')
    },
    handleDrop(e) {
      e.stopPropagation()
      e.preventDefault()
      if (this.uploading) return
      const files = e.dataTransfer.files
      if (files.length !== 1) {
        this.$message.error('Only support uploading one file!')
        return
      }
      const rawFile = files[0] // only use files[0]
      if (!this.isJSON(rawFile)) {
        this.$message.error('Only supports upload .json, .jsn suffix files')
        return false
      }
      this.upload(rawFile)
      e.stopPropagation()
      e.preventDefault()
    },
    handleDragover(e) {
      e.stopPropagation()
      e.preventDefault()
      e.dataTransfer.dropEffect = 'copy'
    },
    handleUpload() {
      this.$refs['json-upload-input'].click()
    },
    handleClick(e) {
      const files = e.target.files
      const rawFile = files[0] // only use files[0]
      if (!rawFile) return
      if (!this.isJSON(rawFile)) {
        this.$message.error('Only supports upload .json, .jsn suffix files')
        return false
      }
      this.upload(rawFile)
    },
    upload(rawFile) {
      this.$refs['json-upload-input'].value = null // fix can't select the same json
      this.readerData(rawFile)
    },
    readerData(rawFile) {
      this.uploading = true
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.onload = e => {
          const result = JSON.parse(e.target.result)
          this.$message.success('JSON file decoded successfully')
          this.save_inputs_model(this.studyId, 3, 'wec', result)
          this.fetch_inputs_model(this.studyId, 3, 'wec')
          this.fetch_project(this.studyId)
          this.uploading = false
          this.drawer_open = false
          this.calculate_disabled = false
          resolve()
        }
        reader.readAsText(rawFile)
      })
    },
    isJSON(file) {
      return /\.(json|jsn|jscsrc)$/.test(file.name)
    }
    // handleHDF5Success({ results, header }) {
    //   this.tableData = results
    //   this.tableHeader = header
    // },
    // beforeHDF5Upload(file) {
    //   const isLt1M = file.size / 1024 / 1024 < 1
    //   if (isLt1M) {
    //     return true
    //   }
    //   this.$message({
    //     message: 'Please do not upload files larger than 1m in size.',
    //     type: 'warning'
    //   })
    //   return false
    // },
    // loadHDF5Data() {
    //   var file_input = document.getElementById('datafile')
    //   var file = file_input.files[0] // only one file allowed
    //   const datafilename = file.name
    //   const reader = new FileReader()
    //   reader.onloadend = function(evt) {
    //     const barr = evt.target.result
    //     var f = new hdf5.File(barr, datafilename)
    //     // do something with f...
    //   }
    //   reader.readAsArrayBuffer(file)
    //   file_input.value = ''
    // }
  }
}
</script>

<style scoped>
.json-upload-input{
  display: none;
  z-index: -9999;
}
.drop{
  border: 2px dashed #bbb;
  width: auto;
  height: auto;
  line-height: auto;
  margin: 20px;
  padding: 40px;
  font-size: 24px;
  border-radius: 5px;
  text-align: center;
  color: #bbb;
  position: relative;
}
.el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  line-height: 200px;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}
</style>
