<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <el-form ref="form" :model="form">
      <el-row :gutter="10">
        <el-form-item>
          <el-button icon="el-icon-check" round data-cy="submit_form" @click="submitForm('form')">Submit</el-button>
          <!-- <el-button icon="el-icon-close" round data-cy="rest_form" @click="resetForm('form')">Reset</el-button> -->
        </el-form-item>
        <el-col :span="24">
          <el-card>
            <div slot="header" />
            <div style="display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #000; padding: 10px 30px;">
              <!-- <el-row :gutter="10">
                <el-col :span="6"> -->
                  <el-form-item label="Archetype" prop="machine_archetype">
                    <el-select v-model="form.machine_archetype" data-cy="archetype">
                      <el-option label="Point Absorber" value="point_absorber" />
                      <el-option label="Terminator" value="terminator" />
                      <el-option label="Attenuator" value="attenuator" />
                    </el-select>
                  </el-form-item>
                <!-- </el-col>
                <el-col :span="6"> -->
                  <el-image
                    :src="machine_image"
                    fit="scale-down"
                  />
                <!-- </el-col>
                <el-col :span="6"> -->
                  <el-form-item label="Average PTO Damping [ Ns/m - Nms/rad ]" required>
                    <el-input-number v-model="form.pto_damping" :precision="1" :min="0" :controls="false"/>
                  </el-form-item>
                <!-- </el-col>
                <el-col :span="6"> -->
                  <el-form-item label="Average Mooring Stiffness [ N/m - Nm/rad ]" required>
                    <el-input-number v-model="form.mooring_stiffness" :precision="1" :min="0" :controls="false"/>
                  </el-form-item>
                <!-- </el-col>
              </el-row> -->
            </div>
          </el-card>
        </el-col>
      </el-row>
      <el-row :gutter="10" style="margin-top: 20px">
        <el-col :span="12">
          <PowerMatrix :results="{power_matrix: cwr_mat}" :directions="directions" :tp="tp" :hs="hs"/>
          <!-- <el-card>

            <div slot="header">
              <span>Wave Angle</span>
              <el-select
                v-model="wave_angle"
                style="float:right; margin-top:-10px"
                placeholder="Select"
                data-cy="wave_angle"
                @change="changeItem($event)"
              >
                <el-option
                  v-for="item in wave_angles"
                  :key="item.angle"
                  :label="item.angle"
                  :value="item.angle"
                >></el-option>
              </el-select>
            </div>
            <div class="app-container">
              <Plotly :data="data" :layout="layout" :display-mode-bar="true" />
            </div>
          </el-card> -->
        </el-col>
        <el-col :span="12">
          <el-card>
            <div slot="header">
              <upload-excel-component :on-success="handleSuccess" :before-upload="beforeUpload" />
            </div>
            <div class="app-container">
              <el-table
                :data="tableData"
                border
                highlight-current-row
                style="width: 100%;margin-top:20px;"
                :cell-style="{padding: '0', height: '20px'}"
                height="250"
              >
                <el-table-column v-for="item of tableHeader" :key="item" :prop="item" :label="item" />
              </el-table>
            </div>
          </el-card>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'
import mixin from '../../mixin.js'
import UploadExcelComponent from '@/components/UploadExcel/index.vue'
import { Plotly } from 'vue-plotly'
import { reshape, zeros } from 'mathjs'
import PowerMatrix from '@/components/PowerMatrix/index.vue'

const attenuator = require('@/assets/attenuator.jpeg')
const terminator = require('@/assets/terminator.jpeg')
const point_absorber = require('@/assets/point_absorber.jpeg')

export default {
  name: 'ModelWEC2',
  components: { Plotly, UploadExcelComponent, PowerMatrix },
  mixins: [mixin],
  props: {
    isActive: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      form: {
        capture_width_ratio: null,
        machine_archetype: 'point_absorber',
        pto_damping: null,
        mooring_stiffness: null,
        tp_capture_width: null,
        hs_capture_width: null,
        wave_angle_capture_width: null
      },
      cwr: { tp: [], hs: [], dir: [], cwr: [] },
      tp: [],
      hs: [],
      beta: [],
      cwr_mat: [],
      directions: [],
      // wave_angle: '',
      // wave_angles: [{ angle: 0 }],
      tableData: [],
      tableHeader: [],
      layout: { title: 'Power Matrix',
        xaxis: {
          title: {
            text: 'Tp (s)',
            font: {
              family: 'Courier New, monospace',
              size: 18,
              color: '#7f7f7f'
            }
          }
        },
        yaxis: {
          title: {
            text: 'Hs (m)',
            font: {
              family: 'Courier New, monospace',
              size: 18,
              color: '#7f7f7f'
            }
          }
        }},
      // data: [{ x: [], y: [], z: [], dir: [], type: 'contour' }]
    }
  },
  watch: {
    form: function() {
      this.formatData()
    }
  },
  computed: {
    machine_image() {
      if (this.form.machine_archetype == 'terminator') {
        return terminator
      } else if (this.form.machine_archetype == 'attenuator') {
        return attenuator
      }
      return point_absorber
    },
    dataLock() {
      return this.$store.getters.completion_state.lock
    }
  },
  created() {
    this.fetch_inputs_model(this.studyId, 2, 'wec')
    this.fetch_project(this.studyId)
  },
  methods: {
    // changeItem(event) {
    //   var ind = this.cwr.dir.reduce(function(a, v, i) { if (v === event) a.push(i); return a }, [])
    //   var cwr = []
    //   for (let i = 0; i < ind.length; i++) {
    //     cwr.push(this.cwr.cwr[ind[i]])
    //   }
    //   this.data[0].z = reshape(cwr, [this.data[0].x.length, this.data[0].y.length])
    // },
    beforeUpload(file) {
      const isLt1M = file.size / 1024 / 1024 < 1
      if (isLt1M) {
        return true
      }
      this.$message({
        message: 'Please do not upload files larger than 1m in size.',
        type: 'warning'
      })
      return false
    },
    handleSuccess({ results, header }) {
      if (!header.includes('Hs') ||
          !header.includes('Tp') ||
          !header.includes('Dir') ||
          !header.includes('CWR')
      ) {
        this.$message({
          message: 'Unsupported format: Header name MUST be [Hs, Tp, Dir, CWR]',
          type: 'error'
        })
        return false
      }

      this.tableData = results
      this.tableHeader = header
      this.cwrMatrixHandling()
    },
    formatData() {
      var n_tp = this.form.tp_capture_width.length
      var n_hs = this.form.hs_capture_width.length
      var n_dir = this.form.wave_angle_capture_width.length
      this.tableData = []
      for (let i = 0; i < n_tp; i++) {
        this.tableData.push(
              { Tp: this.form.tp_capture_width[i],
                Hs: this.form.hs_capture_width[i],
                Dir: this.form.wave_angle_capture_width[i],
                CWR: this.form.capture_width_ratio[i] })
      }
      // for (let i = 0; i < n_tp; i++) {
      //   for (let j = 0; j < n_hs; j++) {
      //     for (let k = 0; k < n_dir; k++) {
      //       this.tableData.push(
      //         { Tp: this.form.tp_capture_width[i],
      //           Hs: this.form.hs_capture_width[j],
      //           Dir: this.form.wave_angle_capture_width[k],
      //           CWR: this.form.capture_width_ratio[k][j][i] })
      //     }
      //   }
      // }
      this.tableHeader = ['Tp', 'Hs', 'Dir', 'CWR']
      this.cwrMatrixHandling()
    },
    // dataHandling() {
    //   debugger
    //   var hs = this.tableData.map( ob => ob.Hs )
    //   var tp = this.tableData.map( ob => ob.Tp )
    //   var dir = this.tableData.map( ob => ob.Dir )
    //   var cwr = this.tableData.map( ob => ob.CWR )

    //   const hs_u = [...new Set(hs)]
    //   const tp_u = [...new Set(tp)]
    //   const dir_u = [...new Set(dir)]

    //   if (hs_u.length*tp_u.length*dir_u.length !== hs.length) {
    //     if (hs_u.length === hs.length && tp_u.length === tp.length && dir_u.length === 1) {
    //       // 1D data provided
    //       var hs_n = []
    //       var tp_n = []
    //       var dir_n = []
    //       var cwr_n = []
    //       for (let ihs=0; ihs<hs_u.length; ihs++) {
    //         for (let itp=0; itp<tp_u.length; itp++) {
    //           for (let idir=0; idir<dir_u.length; idir++) {
    //             hs_n.push(hs_u[ihs])
    //             tp_n.push(tp_u[itp])
    //             dir_n.push(dir_u[idir])
    //             cwr_n.push(cwr[itp])
    //           }
    //         }
    //       }
    //       hs = hs_n
    //       tp = tp_n
    //       dir = dir_n
    //       cwr = cwr_n
    //     } else {
    //       this.$notify({
    //         title: 'Invalid Data Format',
    //         message: 'The data uploaded conatains repeated elements for the same triplet (Hs, Tp, Dir). Please modify the data and upload the new file.',
    //         type: 'error'
    //       })
    //       this.tableData = []
    //       this.tableHeader = []
    //       return -1
    //     }
    //   }

    //   this.cwr.hs = hs
    //   this.cwr.tp = tp
    //   this.cwr.dir = dir
    //   this.cwr.cwr = cwr

    //   // this.data[0].x = tp_u
    //   // this.data[0].y = hs_u
    //   // this.data[0].dir = dir_u
    //   // this.wave_angles = this.data[0].dir.map(function(value) { return { angle: value } })


    //   this.tp = tp_u
    //   this.hs = hs_u
    //   this.beta = [...new Set(dir)]
    //   this.cwr_mat = this.unravel(cwr, tp, hs, dir, this.tp, this.hs, this.beta)
    //   this.directions = this.beta.reduce((o, el, i) => ({ ...o, [i]: el + ' deg' }), {})
    // },
    // unravel(I, X, Y, Z, x, y, z) {
    //   debugger
    //   var arr = zeros(x.length, y.length, z.length)._data
    //   var l = 0
    //   var m = 0
    //   var n = 0
    //   for (let i=0; i<I.length; i++) {
    //     l = x.indexOf(X[i])
    //     m = y.indexOf(Y[i])
    //     n = z.indexOf(Z[i])
    //     arr[l][m][n] = I[i]
    //   }
    //   return arr
    // },
    submitForm(formName) {
      if ( this.dataLock ) {
        this.$notify({
          title: 'Data Locked',
          message: 'The data for this entity is locked and cannot be saved to the DB. Please go to the main module and fork the study or create a new entity.',
          duration: 0,
          type: 'warning'
        });
        return false
      }
      console.log('SAVE', this.$refs[formName]._props['model'])
      if (this.cwr.cwr.length == 0) {
        this.$message({
          message: 'Missing Inputs',
          type: 'warning'
        })
        return false
      }
      this.form.tp_capture_width = this.cwr.tp // [...new Set(this.cwr.tp)]
      this.form.hs_capture_width = this.cwr.hs //[...new Set(this.cwr.hs)]
      this.form.wave_angle_capture_width = this.cwr.dir //[...new Set(this.cwr.dir)]
      console.log('DAtaMod', this.form.tp_capture_width, this.form.hs_capture_width, this.form.wave_angle_capture_width)
      this.form.capture_width_ratio = this.cwr.cwr //reshape(this.cwr.cwr, [this.form.wave_angle_capture_width.length,
        //this.form.hs_capture_width.length,
        //this.form.tp_capture_width.length])
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.save_inputs_model(this.studyId, 1, 'tec', this.$refs[formName]._props['model'])
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    reset() {
      console.log('TBI')
    }
  }
}
</script>
