<!doctype html>
<title>{% block title %}{% endblock %} - DTOcean+ Energy capture module</title>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1> DTOcean+ Energy capture module</h1>
<!--   <ul>
  </ul> -->
</nav>
<section class="content">
	<nav>
	<ul class="list-group">
		<li class="list-group-item"><a href="/api/" target="_blank">Documentation</a></li>
		<li class="list-group-item"><a href="/api/core">Core hook</a></li>
		<li class="list-group-item"><a href="/gui/">Gui - core hook</a></li>
		<li class="list-group-item"><a href="/gui/create">New project</a></li>
		<li class="list-group-item"><a href="/projects">A list of the existing project recorded in the back-end</a></li>
		<li class="list-group-item"><a href="http://localhost:8080/projects">Vue Front-End</a></li>
	</ul>
	<br>
	<hr>
	</nav>
  <header>
    <!-- <div class="flash">{{ message }}</div> -->

    {% block header %}{% endblock %}	
  </header>

  {% for message in get_flashed_messages() %}

  {% endfor %}
  {% block content %}{% endblock %}
</section>