<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <Plotly :data="data" :layout="layout" />
  </div>
</template>

<script>
import axios from 'axios'
import { Plotly } from 'vue-plotly'

export default {
  components: {
    Plotly
  },
  props: [
    'barChartData'
  ],
  data() {
    return {
      x: this.bar_chart_data['x'],
      y: this.bar_chart_data['y'],
      title: this.bar_chart_data['title'],
      layout: {
        margin: {
          l: 200,
          r: 50,
          b: 100,
          t: 100,
          pad: 4
        },
        xaxis: {
          tickmode: 'array',
          tickvals: [0, 1, 2, 3, 4],
          ticktext: ['Unacceptable', 'Poor', 'Acceptable', 'Good', 'Excellent'],
          range: [-0.2, 4.2]
        },
        title: this.bar_chart_data['title']
      }
    }
  },
  computed: {
    data() {
      const d = [{
        type: 'bar',
        x: this.x,
        y: this.y,
        orientation: 'h'
      }]
      return d
    }
  }
}
</script>
