<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <el-menu default-active="3" class="el-menu-demo" mode="horizontal">
    <el-menu-item index="1" @click="openList">Entity List</el-menu-item>
    <el-menu-item index="2" @click="saveToFile">Download Entity</el-menu-item>
    <el-menu-item index="3" class="user-img">
      <img style="width: 40px; height: 40px; padding: 0px; margin-left: -20px; margin-top: -20px; border-radius: 10px" src="@/assets/dtoceanplus-square-logo.png" alt="DTOceanPlus Logo">
    </el-menu-item>
    <!-- <el-dropdown class="avatar-container" trigger="click">
      <div class="avatar-container">
        <img class="user-avatar" src="@/assets/dtoceanplus-square-logo.png" alt="DTOceanPlus Logo">
      </div>
    </el-dropdown> -->
    <!-- <el-submenu index="2">
      <template slot="title">Download</template>
      <el-menu-item index="2-1">item one</el-menu-item>
      <el-menu-item index="2-2">item two</el-menu-item>
      <el-menu-item index="2-3">item three</el-menu-item>
      <el-submenu index="2-4">
        <template slot="title">item four</template>
        <el-menu-item index="2-4-1">item one</el-menu-item>
        <el-menu-item index="2-4-2">item two</el-menu-item>
        <el-menu-item index="2-4-3">item three</el-menu-item>
      </el-submenu>
    </el-submenu>
    <el-menu-item index="3" disabled>Info</el-menu-item>
    <el-menu-item index="4"><a href="https://www.ele.me" target="_blank">Orders</a></el-menu-item> -->
  </el-menu>


  <!-- <div class="navbar"> -->
    <!-- <breadcrumb class="breadcrumb-container" /> -->

    <!-- <div class="right-menu">
      <el-button type="text" icon="el-icon-download" @click="saveToFile" style="background-color: rgb(200, 0, 0); margin:0px; padding: 0px;white-space: normal; width: 100px">Download Entity</el-button>
      <el-dropdown class="avatar-container" trigger="click">
        <div class="avatar-wrapper">
          <img class="user-avatar" src="@/assets/dtoceanplus-square-logo.png" alt="DTOceanPlus Logo"> -->
          <!-- <i class="el-icon-caret-bottom" /> -->
        <!-- </div> -->
        <!-- <el-dropdown-menu slot="dropdown" class="user-dropdown">
          <router-link to="/">
            <el-dropdown-item>
              Home
            </el-dropdown-item>
          </router-link>
          <el-button type="primary">
            <el-dropdown-item>Download Entity</el-dropdown-item>
          </el-button>
          <a target="_blank" href="http://localhost:5000/api">
            <el-dropdown-item>Docs</el-dropdown-item>
          </a>
        </el-dropdown-menu> -->
      <!-- </el-dropdown>
    </div>
  </div> -->
</template>

<script>
import { mapGetters } from 'vuex'
import Breadcrumb from '@/components/Breadcrumb'
import axios from 'axios'

export default {
  name: 'NavbarNoSide',
  components: {
    Breadcrumb
  },
  computed: {
    ...mapGetters([
      'sidebar',
      'avatar'
    ])
  },
  methods: {
    toggleSideBar() {
      this.$store.dispatch('app/toggleSideBar')
    },
    openList() {
      this.$router.push({ name: 'MCStudiesIndex' })
    },
    saveToFile(index, rows) {
      debugger
      const machine = this.$store.getters.machine_type.toLowerCase()
      const cpx = this.$store.getters.complexity
      const title = this.$store.getters.studyTitle
      const studyId = this.$store.getters.studyId

      var studyData = { project: this.studyData, general: null, dimensions: null, model: null, hydro: null }

      const URLs = [`${process.env.VUE_APP_API_URL}/mc/${studyId}/general`,
        `${process.env.VUE_APP_API_URL}/mc/${studyId}/dimensions`,
        `${process.env.VUE_APP_API_URL}/mc/${studyId}/model/${machine}/complexity${cpx}`,
        `${process.env.VUE_APP_API_URL}/mc/${studyId}/single_machine_hydrodynamic`]

      const requests = URLs.map(URL => axios.get(URL).catch(err => null))

      axios.all(requests)
        .then(axios.spread((...r) => {
          debugger
          for (const k of ['general', 'dimensions', 'model', 'hydro']) {
            var ob = r.find(o => {
              if (o == null) { return null }
              if (o.request.responseURL.includes(k) && o.data != null) {
                debugger
                if (Object.keys(o.data).includes('id')) {delete o.data.id}
                if (Object.keys(o.data).includes('project')) {delete o.data.project}
                return o
              }
              return null
            })
            debugger
            studyData[k] = (ob != null) ? (ob.data) : (null)
          }
          this.downloadProjectFile(studyData, `${title}_prj.json`)
        }))
        .catch((error) => {
          this.$notify({
            title: 'Impossible to fetch the data',
            message: `Cannot fetch the data for this entity! Error: ${error}`,
            type: 'error'
          });
          this.$notidy({ message: error, type: 'error' })
        })
    },
    downloadProjectFile(jsonData, filename) {
      debugger
      const jsonDataString = JSON.stringify(jsonData)
      const blob = new Blob([jsonDataString], { type: 'text/plain;charset=utf-8;' })
      if (navigator.msSaveBlob) { // IE 10+
        navigator.msSaveBlob(blob, filename)
      } else {
        const link = document.createElement('a')
        if (link.download !== undefined) { // feature detection
          // Browsers that support HTML5 download attribute
          const url = URL.createObjectURL(blob)
          link.setAttribute('href', url)
          link.setAttribute('download', filename)
          link.style.visibility = 'hidden'
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
        }
      }
    },
  }
}
</script>

<style lang="scss" scoped>
.user-img {
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.navbar {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);

  .hamburger-container {
    line-height: 46px;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background .3s;
    -webkit-tap-highlight-color:transparent;

    &:hover {
      background: rgba(0, 0, 0, .025)
    }
  }

  .breadcrumb-container {
    float: left;
  }

  .right-menu {
    float: right;
    height: 100%;
    line-height: 50px;

    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 18px;
      color: #5a5e66;
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
        transition: background .3s;

        &:hover {
          background: rgba(0, 0, 0, .025)
        }
      }
    }

    .avatar-container {
      margin-right: 30px;

      .avatar-wrapper {
        margin-top: 5px;
        position: relative;

        .user-avatar {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 10px;
        }

        .el-icon-caret-bottom {
          cursor: pointer;
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
        }
      }
    }
  }
}
</style>
