<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <el-menu
    background-color="#022c5f"
    text-color="#ffffff"
    active-text-color="#39d2ff"
    default-active="0"
    class="el-menu-demo"
    mode="horizontal"
  >
    <el-menu-item index="1">
      <div class="el-header__logo">
        <router-link class="main__list-link" to="/" data-cy-mm="rootLink"
          ><img alt="Vue logo" src="@/assets/dtoceanplus-fonduni-low.png"
        /></router-link>
      </div>
    </el-menu-item>
    <el-menu-item>
      MC v1.0.5
    </el-menu-item>
    <el-menu-item style="float: right" index="2" @click="openList">Entity List</el-menu-item>
    <el-menu-item style="float: right" index="3" @click="saveToFile">Download Entity</el-menu-item>
    <el-menu-item style="float: right" index="4" @click="openLogs">Logs</el-menu-item>
    <el-menu-item style="float: right" index="5" @click="machineDB">Default DB</el-menu-item>
    <el-menu-item style="float: right" index="6" @click="currentEntity">Current Project</el-menu-item>
    <el-menu-item style="float: right" index="7"
            ><a
              :href="`https://dtoceanplus.gitlab.io/documentation/deployment/mc/docs/index.html`"
              target="_blank"
            >
              Documentation</a
            ></el-menu-item
          >
  </el-menu>
</template>

<script>
import { mapGetters } from 'vuex'
import axios from 'axios'

export default {
  computed: {
    ...mapGetters([
      'sidebar',
      'avatar'
    ])
  },
  methods: {
    toggleSideBar() {
      this.$store.dispatch('app/toggleSideBar')
    },
    openList() {
      this.$router.push({ name: 'MCStudiesIndex' })
    },
    openLogs() {
      this.$router.push({ name: 'ECLogs' })
    },
    machineDB() {
      this.$router.push({ name: 'DefaultDB' })
    },
    currentEntity() {
      // check if this work as expected
      this.$router.push({ name: 'GeneralInput' })
    },
    saveToFile(index, rows) {
      debugger
      const machine = this.$store.getters.machine_type.toLowerCase()
      const cpx = this.$store.getters.complexity
      const title = this.$store.getters.studyTitle
      const studyId = this.$store.getters.studyId

      var studyData = { project: this.studyData, general: null, dimensions: null, model: null, hydro: null }

      const URLs = [`${process.env.VUE_APP_API_URL}/mc/${studyId}/general`,
        `${process.env.VUE_APP_API_URL}/mc/${studyId}/dimensions`,
        `${process.env.VUE_APP_API_URL}/mc/${studyId}/model/${machine}/complexity${cpx}`,
        `${process.env.VUE_APP_API_URL}/mc/${studyId}/single_machine_hydrodynamic`]

      const requests = URLs.map(URL => axios.get(URL).catch(err => null))

      axios.all(requests)
        .then(axios.spread((...r) => {
          debugger
          for (const k of ['general', 'dimensions', 'model', 'hydro']) {
            var ob = r.find(o => {
              if (o == null) { return null }
              if (o.request.responseURL.includes(k) && o.data != null) {
                debugger
                if (Object.keys(o.data).includes('id')) {delete o.data.id}
                if (Object.keys(o.data).includes('project')) {delete o.data.project}
                return o
              }
              return null
            })
            debugger
            studyData[k] = (ob != null) ? (ob.data) : (null)
          }
          this.downloadProjectFile(studyData, `${title}_prj.json`)
        }))
        .catch((error) => {
          this.$notify({
            title: 'Impossible to fetch the data',
            message: `Cannot fetch the data for this entity! Error: ${error}`,
            type: 'error'
          });
          this.$notidy({ message: error, type: 'error' })
        })
    },
    downloadProjectFile(jsonData, filename) {
      debugger
      const jsonDataString = JSON.stringify(jsonData)
      const blob = new Blob([jsonDataString], { type: 'text/plain;charset=utf-8;' })
      if (navigator.msSaveBlob) { // IE 10+
        navigator.msSaveBlob(blob, filename)
      } else {
        const link = document.createElement('a')
        if (link.download !== undefined) { // feature detection
          // Browsers that support HTML5 download attribute
          const url = URL.createObjectURL(blob)
          link.setAttribute('href', url)
          link.setAttribute('download', filename)
          link.style.visibility = 'hidden'
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
        }
      }
    }
  }
}
</script>

<style lang="scss">
.el-menu {
  background-color: var(--color-dark-blue);

  &-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }
  a {
    color: #fff !important;
    text-decoration: none !important;
  }
}
.el-submenu__title {
  color: #fff !important;
  font-size: 16px;
}
.el-menu-item * {
  vertical-align: unset;
  a {
    color: #fff !important;
    font-size: 16px;
  }
}
.el-menu.el-menu--horizontal {
  border: unset;
}
.is-active {
  // border-bottom: 2px solid var(--color-blue) !important;
  a {
    color: var(--color-blue) !important;
  }
}

.el-popover__wrap {
  display: inline-block;
  padding-top: 9px;
  cursor: pointer;
  outline: none !important;
}

.el-popover__card {
  ul {
    margin-bottom: 20px;
    b {
      font-weight: bold;
      font-size: 11px;
    }
  }
}
.el-header {
  background-color: var(--color-dark-blue);
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  text-align: center;
  height: 60px!important;
  &__logo {
    img {
      width: 100%;
      max-width: 150px;
      margin-top: 10px
    }
  }
  img {
    max-height: 40px;
    margin-top: 10px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
</style>
