<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div style="padding:30px;">
    <span v-if="output_page">The output page is only active for a WEC project at complexity level 3</span>
    <div v-else>
      <div style="height: 150px; background-color: rgb(2, 44, 95); position: relative;  color: #e2ebf0;">
        <h1 style="padding: 10px;">Wave Energy Converter Output Page</h1>

        <h4 style="padding: 10px;"><el-button type="text" class="el-icon-s-order" @click="openLogs">   Logs</el-button></h4>
        <h4 style="padding: 10px;"><el-button type="text" class="el-icon-s-order" @click="killBEM">   Abort Calculation </el-button></h4>

        <div style="position: absolute;top:10px;right:10px; height: 150px">
          <el-progress type="circle" :percentage="job_percentage" :status="job_status"></el-progress>
        </div>

      </div>

      <el-drawer
        title="MC Logs"
        :visible.sync="logs_visible"
        direction="ltr"
        size="50%"
        :before-close="handleClose"
      >
        <div>
          <template>
            <el-table
              :data="LogTable"
              height="1000"
              style="width: 100%"
            >
              <el-table-column
                prop="msg"
                label="Message"
              />
            </el-table>
          </template>
        </div>
      </el-drawer>

      <div v-loading="loading" v-if="loading"
        :element-loading-text="loading_message"
        element-loading-spinner="el-icon-loading"
        element-loading-background="rgba(0, 0, 0, 0.8)"
        style="width: 100%; height: 200px">
      </div>
      <div v-else>
        <span></span>
        <div v-if="errored">
          <el-alert
            style="margin-bottom: 10px"
            title="Error while fetching the ouput"
            type="error"
            :closable="false"
            :description="error_msg_worker"
            show-icon>
          </el-alert>
          <el-alert
            title="Info Message"
            type="info"
            :closable="false"
            :description="error_msg_std"
            show-icon>
          </el-alert>
        </div>
        <div v-else>
          <el-card>
            <div slot="header">
              Hydrodynamic Coefficients
            </div>
            <div><Results :results="results" :dofs="dofs" :angles="angles" /></div>
          </el-card>
          <br>
          <el-row :gutter="10">
            <el-col :span="12">
              <el-card>
              <div slot="header" style="height: 40px; display: flex; justify-content: space-between; align-items: center">
                Mesh Visualization
              </div>
              <div><Plotly :data="data_mesh"/></div>
            </el-card>
            </el-col>
            <el-col :span="12">
               <PowerMatrix :results="{power_matrix: cwr_mat_eval}" :directions="directions" :tp="tp" :hs="hs"/>
            </el-col>
          </el-row>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { Plotly } from 'vue-plotly'
import Results from '@/components/Results/index.vue'
import PowerMatrix from '@/components/PowerMatrix/index.vue'
import { zeros } from 'mathjs'
import _ from 'lodash'
import mixin from '../../../mixin.js'

export default {
  components: {
    Plotly,
    Results,
    PowerMatrix
  },
  mixins: [mixin],
  data() {
    return {
      loading_message: "Calculating the results...",
      LogFile: null,
      LogTable: [],
      logs_visible: false,
      loading: true,
      errored: false,
      error_msg_worker: '',
      error_msg_std: 'Please check the error message, modify the inputs ans resubmit the calculation.',
      job_percentage: 0,
      job_status: "",
      dofs: {},
      angles: {},
      directions: {},
      hs: [],
      tp: [],
      beta_flat: [],
      hs_flat: [],
      tp_flat: [],
      cwr_user: [],
      cwr_mat_eval: [],
      task: null,
      results_available: false,
      studyId: this.$store.getters.studyId,
      output_page: false,
      results: null,
      plot_type: null,
      plot_data: [
        { x: [], y: [], mode: 'lines', name: 'Added Mass' },
        { x: [], y: [], mode: 'lines', name: 'Radiation Damping' }],
      data_mesh: [],
      interval: null,
      interval_log: null
    }
  },
  created() {
    this.fetch_project()
    this.fetchCalculation()
    this.fetchCharacteristicDimension()
  },
  beforeDestroy: function() {
    clearInterval(this.interval)
    clearInterval(this.interval_log)
  },
  methods: {
    handleClose(done) {
      clearInterval(this.interval_log)
      done()
    },
    openLogs() {
      this.logs_visible = true
      this.fetchLogs()
      this.interval_log = setInterval(function() {
        this.fetchLogs()
      }.bind(this), 500)
    },
    fetchLogs() {
      const path = `${process.env.VUE_APP_API_URL}/mc/logs`
      axios
        .get(path)
        .then((res) => {
          debugger
          this.LogTable = []
          this.LogFile = res.data
          var today = new Date()
          var date = today.getFullYear() + '-'
          this.LogFile = this.LogFile.replaceAll(date, '\n' + date)
          this.LogFile = this.LogFile.split('\n')
          for (let i = this.LogFile.length - 1; i >= 0; i--) {
            this.LogTable.push({ msg: this.LogFile[i] })
          }
        })
        .catch((error) => {
          console.log(error.message)
        })
    },
    listenTask() {
      const path = `${process.env.VUE_APP_API_URL}/mc/${this.studyId}/task`
      axios
        .get(path)
        .then(res => {
          debugger
          const response = res.data
          this.job_percentage = parseFloat(response.job_tta).toFixed(2)
          if (this.job_percentage === 100) {
            this.job_status = 'success'
            this.loading_message = "... almost there. Fetching the results from the Worker and saving the data to the DataBase"
          }
          if (response.task_status === 'finished') {
            this.loading_message = "... almost there. Fetching the results from the Worker and saving the data to the DataBase"
            clearInterval(this.interval)
            if (response.worker_status === 'failed') {
              this.errored = true
              this.error_msg_worker = response.worker_message
              this.loading = false
              this.errored = true
              return 0
            } else if (response.task_status === 'failed') {
              this.job_status = 'exception'
              this.loading = false
              this.job_percentage = 100
              this.errored = true
              this.error_msg_std = 'The calculation task failed. Check the log for furhter information.'
              clearInterval(this.interval)
            } else if (response.task_status === 'queued') {
              this.job_status = 'warning'
              this.loading = false
              this.job_percentage = 2
              this.errored = true
              this.error_msg_std = 'Another calculation is ongoing, be patience and wait... The calculation is queue and waiting to be pushed to the next available worker.'

            }
            this.interval = setInterval(function () {
              this.loading_message = "... almost there. Fetching the results from the Worker and saving the data into the DataBase"
              this.fetchCalculation()
            }.bind(this), 1000)
          }
        })
        .catch(error => {
          console.error(error);
        })
    },
    fetchCalculation() {
      // if results are not saved try to look at the task
      axios.all([
        this.fetchHydro(),
        this.fetchBodyDescription()
      ])
      .then(axios.spread((resHydro, resBody) => {
        debugger
        if (_.isEmpty(resHydro.data)) {
          this.interval = setInterval(function() {
            this.listenTask()
          }.bind(this), 100)
          throw "Results now available yet"
        }
        this.$store.dispatch('studies/updateStatus', { key: 'results' , value: true })
        this.$message.success('MC results fetched')
        this.setupBody(resBody)
        this.setupResults(resHydro)
        this.job_status = 'success'
        this.loading = false
        this.job_percentage = 100
        clearInterval(this.interval)
      }))
      .catch(error => {
        this.$store.dispatch('studies/updateStatus', { key: 'results' , value: false })
        this.interval = setInterval(function() {
            this.listenTask()
          }.bind(this), 100)
        this.$message.error(error)
      })
    },
    // bodyMesh(mesh_txt) {
    //   for (let b_ind = 0; b_ind < mesh_txt.bodies.length; b_ind++) {
    //     debugger
    //     var b1_m = mesh_txt.bodies[b_ind].mesh_raw
    //     var array = []
    //     var m = { name: mesh_txt.bodies[b_ind].mesh.slice(0,-4),
    //               type: 'mesh3d', x: [], y: [], z: [], i: [], j: [], k: [],
    //               showlegend: true}
    //     var i = 1
    //     while (true) { // for (var i=1; i<3000; i++) {
    //       // array = b1_m[i].match(/\d+(?:\.\d+)?/g).map(Number)
    //       array = b1_m[i].split(/\r?\n|[ ]+/).filter(Boolean).map(Number)
    //       // array = b1_m[i].split(' ').map(Number)
    //       if (array[0] == 0) {
    //         break
    //       }
    //       m.x.push(array[1])
    //       m.y.push(array[2])
    //       m.z.push(array[3])
    //       i++
    //     }
    //     for (var j = i + 1; j < b1_m.length; j++) {
    //       array = b1_m[j].match(/\d+(?:\.\d+)?/g).map(Number)
    //       if (array[0] == 0) {
    //         break
    //       }
    //       m.i.push(array[0] - 1)
    //       m.j.push(array[1] - 1)
    //       m.k.push(array[2] - 1)
    //       if (array.length == 4) {
    //         m.i.push(array[0] - 1)
    //         m.j.push(array[2] - 1)
    //         m.k.push(array[3] - 1)
    //       }
    //     }
    //     this.data_mesh.push(m)
    //   }

      // this.data_mesh[b_ind].j= [1, 2, 3, 2]
      // console.log('DATA MESH k1', this.data_mesh[b_ind].k)
      // this.data_mesh[b_ind].k= [2, 3, 1, 3]
      // console.log('DATA MESH kref', this.data_mesh[b_ind].k)
      // console.log('DATA MESH 1', this.data_mesh)
      // console.log('DATA MESH', this.data_mesh)
    // },
    test_mesh() {
      // Generating random data..
      this.data_mesh[0].x = [0, 1, 2, 0]
      this.data_mesh[0].y = [0, 0, 1, 2]
      this.data_mesh[0].z = [0, 2, 0, 1]
      this.data_mesh[0].i = [0, 0, 0, 1]
      this.data_mesh[0].j = [1, 2, 3, 2]
      this.data_mesh[0].k = [2, 3, 1, 3]
    },
    onChange(event) {
      if (event == 'fex') {
        this.plot_data[0].x = this.results.wave_frequency
        this.plot_data[0].y = this.results.excitation_force_real.map(ob => ob[0][0])
        this.plot_data[0].name = 'Excitation Force Real'
        this.plot_data[1].x = this.results.wave_frequency
        this.plot_data[1].y = this.results.excitation_force_imag.map(ob => ob[0][0])
        this.plot_data[1].name = 'Excitation Force Imag'
      } else if (event == 'frad') {
        this.plot_data[0].x = this.results.wave_frequency
        this.plot_data[0].y = this.results.added_mass.map(ob => ob[0][0])
        this.plot_data[0].name = 'Added Mass'
        this.plot_data[1].x = this.results.wave_frequency
        this.plot_data[1].y = this.results.radiation_damping.map(ob => ob[0][0])
        this.plot_data[1].name = 'Radiation Damping'
      }
    },
    fetchBodyDescription() {
      const path = `${process.env.VUE_APP_API_URL}/mc/${this.studyId}/model/wec/complexity3`
      return axios.get(path)
    },
    fetchHydro() {
      const path = `${process.env.VUE_APP_API_URL}/mc/${this.studyId}/single_machine_hydrodynamic/wec/complexity3`
      return axios.get(path)
    },
    setupBody(res) {
      var dofs = res.data.dofs
      var angles = res.data.wave_direction
      var directions = [...new Set(res.data.wave_angle_capture_width)]
      var ex_dofs = []
      if (!_.isEmpty(res.data.joints)) {
        ex_dofs = res.data.joints.map(el => el.type + '_' + el.ID)
      }
      this.dofs = dofs.concat(ex_dofs).reduce((o, el, i) => ({ ...o, [i]: el }), {})
      this.angles = angles.reduce((o, el, i) => ({ ...o, [i]: el + ' deg' }), {})
      this.directions = directions.reduce((o, el, i) => ({ ...o, [i]: el + ' deg' }), {})

      this.data_mesh = this.bodyMesh(res.data.bodies)

      this.beta_flat = res.data.wave_angle_capture_width
      this.hs_flat = res.data.hs_capture_width
      this.tp_flat = res.data.tp_capture_width
      this.hs = [...new Set(res.data.hs_capture_width)]
      this.tp = [...new Set(res.data.tp_capture_width)]
      this.cwr_user = res.data.capture_width_ratio
    },
    fetchBodies() {
      // const path = `${process.env.VUE_APP_API_URL}/mc/${this.studyId}/model/wec/complexity3`
      // axios.get(path)
      this.fetchBodyDescription()
        .then(res => {
          this.setupBody(res)
        })
        .catch(error => {
          console.error(error)
        })
    },
    setupResults(res) {
      debugger
      this.results_available = true
      this.results = res.data
      this.$store.dispatch('studies/updateStatus', { key: 'results' , value: true })

      var beta = [...new Set(this.beta_flat)]
      this.cwr_mat_eval = this.unravel(this.results.power_matrix, this.tp_flat, this.hs_flat, this.beta_flat, this.tp, this.hs, beta)
    },
    // unravel(I, X, Y, Z, x, y, z) {
    //   debugger
    //   var arr = zeros(x.length, y.length, z.length)._data
    //   var l = 0
    //   var m = 0
    //   var n = 0
    //   debugger
    //   for (let i=0; i<I.length; i++) {
    //     l = x.indexOf(X[i])
    //     m = y.indexOf(Y[i])
    //     n = z.indexOf(Z[i])
    //     arr[l][m][n] = I[i]
    //   }
    //   console.log('ARRAY', arr)
    //   return arr
    // },
    killBEM() {
      const path = `${process.env.VUE_APP_API_URL}/mc/${this.studyId}/task/kill`
      axios.post(path, {})
        .then(res => {
          console.log('TASK KILLED', res)
          this.$message({
            message: 'Task aborted',
            type: 'warning'
          })
          this.job_status = 'exception'
          this.loading = false
          this.job_percentage = 100
          this.errored = true
          this.error_msg_worker = "Calculation aborted by the user"
          this.error_msg_std = "Worker stopped"
          clearInterval(this.interval)
        })
        .catch(error => {
          this.$message.error(error)
        })
    },
    fetchResults() {
      // const path = `${process.env.VUE_APP_API_URL}/mc/${this.studyId}/single_machine_hydrodynamic/wec/complexity3`
      // axios.get(path)
      this.fetchHydro()
        .then(res => {
          this.setupResults(res)
        })
        .catch(error => {
          debugger
          console.error(error)
        })
    },
    fetchCharacteristicDimension() {
      const path = `${process.env.VUE_APP_API_URL}/mc/${this.studyId}/dimensions`

      axios
        .get(path)
        .then(res => {
          this.$store.dispatch('studies/setCharDim', { characteristicLength: res.data.characteristic_dimension })
        })
        .catch(error => {
          console.error(error)
        })
    },
    fetch_project() {
      const path = `${process.env.VUE_APP_API_URL}/mc/${this.studyId}`
      axios
        .get(path)
        .then(res => {
          if (res.data.type != 'WEC' || res.data.complexity != 3) {
            this.output_page = true
          } else {
            this.output_page = false
          }
        })
        .catch(error => {
          console.error(error)
        })
    }
  }
}
</script>
