<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div :class="classObj" class="app-wrapper">
    <!-- <div v-if="device==='mobile'&&sidebar.opened" class="drawer-bg" @click="handleClickOutside" />
    <sidebar class="sidebar-container" /> -->
    <div class="main-container">
      <div :class="{'fixed-header':fixedHeader}">
        <navbar />
      </div>
      <app-main />
      <footer class="dtop-footer" v-if="studyId!=null">
        <div style="display: flex; width: 100vw; align-items: center; align-content: center; justify-content: space-between;">
          <div style="display: flex; align-items: flex-start; flex-direction:column;">
            <span style="font-size: 250%; color: teal; text-transform: capitalize">{{ studyTitle }}</span>
            <span>ID# {{ studyId }}</span>
          </div>
          <div style="display: flex; align-items: flex-end; flex-direction:column;">
            <span style="font-size: 250%; color: teal; text-transform: capitalize" v-if="machine_type.toLowerCase()=='wec'">Wave Converter</span>
            <span style="font-size: 250%; color: teal; text-transform: capitalize" v-else>Tidal Converter</span>
            <span style="float: right">Stage/Complexity {{ complexity }}</span>
          </div>
        </div>
      </footer>
    </div>
  </div>
</template>

<script>
import { Navbar, Sidebar, AppMain } from './components'
import ResizeMixin from './mixin/ResizeHandler'

export default {
  name: 'Layout',
  components: {
    Navbar,
    Sidebar,
    AppMain
  },
  mixins: [ResizeMixin],
  computed: {
    studyId() {
      return this.$store.getters.studyId
    },
    studyTitle() {
      return this.$store.getters.studyTitle
    },
    machine_type() {
      return this.$store.getters.machine_type
    },
    complexity() {
      return this.$store.getters.complexity
    },
    sidebar() {
      return false
    },
    device() {
      return this.$store.state.app.device
    },
    fixedHeader() {
      return this.$store.state.settings.fixedHeader
    },
    classObj() {
      return {
        hideSidebar: !this.sidebar.opened,
        openSidebar: this.sidebar.opened,
        withoutAnimation: this.sidebar.withoutAnimation,
        mobile: true
      }
    }
  },
  methods: {
    handleClickOutside() {
      this.$store.dispatch('app/closeSideBar', { withoutAnimation: false })
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "~@/styles/mixin.scss";
  @import "~@/styles/variables.scss";

  .dtop-footer {
    z-index:10000;
    height: 80px;
    padding: 20px;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    right: 0px;
    color: #e2ebf0;
    background-color: rgb(2, 44, 95);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .app-wrapper {
    @include clearfix;
    position: relative;
    height: 100%;
    width: 100%;
    &.mobile.openSidebar{
      position: fixed;
      top: 0;
    }
  }
  .drawer-bg {
    background: #000;
    opacity: 0.3;
    width: 100%;
    top: 0;
    height: 100%;
    position: absolute;
    z-index: 999;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    width: calc(100% - #{$sideBarWidth});
    transition: width 0.28s;
  }

  .hideSidebar .fixed-header {
    width: calc(100% - 54px)
  }

  .mobile .fixed-header {
    width: 100%;
  }
</style>
