<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <h4>Default Machine database</h4>
    <p>To start with the machine characterization tool, you can populate the entity using one of the deafult entity provided with the installation</p>
    <p>Only the entity that match the complexity and machine type of the actual active entity can be selected.</p>
    <el-table
      :data="mc_studies.filter(data => !search || data.tag.toLowerCase().includes(search.toLowerCase()))"
      style="width: 100%; height: 100vh-100px"
    >
      <el-table-column type="expand">
        <template slot-scope="props">
          <p>Database ID: {{ props.row.ID }}</p>
          <p>Description: {{ props.row.description }}</p>
          <p>Tags: {{ props.row.tag }}</p>
        </template>
      </el-table-column>
      <!-- <el-table-column fixed prop="id" label="ID" width="50"></el-table-column> -->
      <el-table-column prop="title" label="Title" />
      <el-table-column prop="type" label="Type" />
      <el-table-column prop="complexity" label="Complexity" />
      <el-table-column fixed="right" label="Operations" width="150">
        <template slot="header">
          <el-input
            v-model="search"
            size="mini"
            placeholder="Filter by Tags"
          />
        </template>
        <template slot-scope="scope">
          <el-button
            type="text"
            size="small"
            data-cy="projectSave2File"
            :disabled="disable_row[scope.$index]"
            @click.native.prevent="selectDefaultProject(scope.$index)"
          >Select</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      search: '',
      mc_studies: [],
    }
  },
  computed: {
    disable_row() {
      var temp = this.mc_studies.map(el => {
        return (el.type.toLowerCase() != this.machine || el.complexity != this.complexity)
      })
      return temp
    },
    studyId() {
      return this.$store.getters.studyId
    },
    complexity() {
      return this.$store.getters.complexity
    },
    machine() {
      return this.$store.getters.machine_type
    }
  },
  created() {
    this.getDefaultProjects()
  },
  methods: {
    getDefaultProjects() {
      const path = `${process.env.VUE_APP_API_URL}/mc/default/db`
      axios
        .get(path)
        .then(res => {
          this.mc_studies = res.data
        })
        .catch(error => {
          // eslint-disable-next-line
          this.mc_studies = []
          this.$notify({
            title: 'Fecth Error',
            message: 'Cannot fetch the data from the default DB',
            duration: 0,
            type: 'error'
          })
        })
    },
    selectDefaultProject(index) {

      const path = `${process.env.VUE_APP_API_URL}/mc/${this.studyId}/default/db/${this.mc_studies[index].ID}`

      this.$confirm('This action will overwrite any data present in the current entity and replace with the data from the default DB. Do you want to continue?', 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(() => {
        axios
        .post(path)
        .then(res => {
          debugger
          this.$notify({
            title: 'Success',
            message: res.data.message,
            type: 'success'
          })
          this.$router.push({ name: 'MCEntity', query: {entityID: this.studyId}})
        })
        .catch(error => {
          // eslint-disable-next-line
          console.error(error)
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: 'Delete canceled'
        });
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>

