<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <el-form
    ref="form"
    :model="form"
    label-position="right"
    size="mini"
  >

    <el-row :gutter="10">
      <el-form-item>
        <el-button icon="el-icon-check" round data-cy="submit_form" @click="submitForm('form')">Submit</el-button>
        <!-- <el-button icon="el-icon-close" round data-cy="rest_form" @click="resetForm('form')">Reset</el-button> -->
      </el-form-item>

      <el-col :span="24">
        <el-card>
          <div slot="header" />
          <div style="display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #000; padding: 10px 30px;">
            <!-- <el-row :gutter="10">
              <el-col :span="4" offset=2> -->
                <el-form-item prop="bidirectional">
                  <el-checkbox v-model="form.bidirectional" data-cy="bidirectional">Bi-Directional</el-checkbox>
                </el-form-item>
              <!-- </el-col>
              <el-col :span="4"> -->
                <el-form-item label="Number Rotor (-)" required>
                  <el-input-number v-model="form.number_rotor" :step="1" :max="10" :min="0" />
                </el-form-item>
              <!-- </el-col>
              <el-col :span="4"> -->
                <el-form-item label="Rotors Interdistance (m)" required>
                  <el-input-number v-model="form.rotor_interdistance" :precision="2" :min="0" />
                </el-form-item>
              <!-- </el-col>
              <el-col :span="4"> -->
                <!-- <el-form-item label="Tip Speed Ratio (-)" required>
                  <el-input-number v-model="form.tip_speed_ratio" :precision="2" :step="0.1" :min="0" :max="10" />
                </el-form-item> -->
              <!-- </el-col>
              <el-col :span="4"> -->
                <el-form-item label="Heading Angle Span (deg)" required>
                  <el-input-number v-model="form.heading_angle_span" :precision="2" :step="0.1" :min="0" :max="360" />
                </el-form-item>
              <!-- </el-col>
            </el-row> -->
          </div>
        </el-card>
      </el-col>

      <!-- <el-col :span="10">
        <el-card>
          <div slot="header" />
          <div>
            <el-form-item label="Cut In/Out Velocity (m/s)" required>
              <div>
                <el-input v-model="c_io[0]" disabled style="width:20%" />
                <el-input v-model="c_io[1]" disabled style="width:20%" />
              </div>
              <div><br></div>
              <span>select the cut in cut out from the Cp/Ct plot using the range slider</span>
            </el-form-item>
          </div>
        </el-card>
      </el-col> -->
    </el-row>
    <el-row :gutter="10">
      <el-col :span="24">
        <div style="height: 10px" />
      </el-col>
    </el-row>
    <el-row :gutter="10">
      <el-col :span="8">
        <!-- <el-card>
          <div slot="header">
            <div>
              <span>Cp/Ct definition</span>
            </div>
          </div>
          <div>
            <vue-editable-grid
              id="mygrid"
              ref="grid"
              class="my-grid-class"
              :column-defs="columnDefs"
              :row-data="rows"
              row-data-key="shipmentId"
              @cell-updated="cellUpdated"
            >
              <template v-slot:header>
                <span><b>Number of Data Points</b></span>
              </template>
              <template v-slot:header-r>
                <el-input-number v-model="n_velocity_elements" style="float: right" size="mini" :controls="false" :min="1" label="label" @change="updateCpCt" />
              </template>
            </vue-editable-grid>
          </div>
        </el-card> -->
        <el-card>
          <div slot="header" style="display: flex; justify-content: space-between; align-items: center">
            <span>Cp/Ct definition</span>
            <upload-excel-component :only-button="uploadButton" :on-success="handleSuccess" :before-upload="beforeUpload" />
          </div>
          <div class="app-container">
            <el-button style="margin-top: -50px" type="text" icon="el-icon-circle-plus-outline" data-cy="createProjectBtn" @click.native.prevent="addRow()">Add New Point</el-button>
            <el-button style="margin-top: -50px" type="text" icon="el-icon-delete" data-cy="createProjectBtn" @click.native.prevent="deleteAll()">Delete All Points</el-button>
            <el-table
              :data="rows"
              border
              highlight-current-row
              style="width: 100%;margin:0px;"
              :cell-style="{padding: '0px', margin: '0px', height: '20px'}"
            >
              <el-table-column width="35px">
                <template slot-scope="scope">
                  <el-button
                    type="text"
                    size="small"
                    icon="el-icon-delete"
                    @click.native.prevent="deleteRow(scope.$index, rows)"
                  />
                </template>
              </el-table-column>
              <el-table-column prop="velocity" label="Velocity (m/s)" header-align="center">
                <template slot-scope="scope">
                  <el-input-number style="width: 100%" v-model="scope.row.velocity" :controls="false" :precision="2" size="mini" @change="cellUpdated" />
                </template>
              </el-table-column>
              <el-table-column prop="cp" label="Cp (-)" header-align="center">
                <template slot-scope="scope">
                  <el-input-number style="width: 100%" v-model="scope.row.cp" :controls="false" :precision="2" size="mini" @change="cellUpdated" />
                </template>
              </el-table-column>
              <el-table-column prop="ct" label="Ct (-)" header-align="center">
                <template slot-scope="scope">
                  <el-input-number style="width: 100%" v-model="scope.row.ct" :controls="false" :precision="2" size="mini" @change="cellUpdated" />
                </template>
              </el-table-column>
            </el-table>
          </div>
        </el-card>
      </el-col>
      <el-col :span="16">
        <el-card>
          <div slot="header" style="display: flex; justify-content: space-between; align-items: center">
            <div style="width: 30%">
              <h4>Cut In Velocity: {{ c_io[0] }} m/s</h4>
              <h4>Cut Out Velocity: {{ c_io[1] }} m/s</h4>
            </div>
            <div style="width: 70%; border: solid 1px; border-radius: 5px; padding: 20px">
              <span>Select the range of operational velocity</span>
              <el-slider style="margin-right:-160px" v-model="c_io" show-input :step="0.1" :max="max_vel" range></el-slider>
            </div>
          </div>
          <div v-if="!plot_data">
            <h2>Upload or Input data in the Cp/Ct definition area</h2>
          </div>
          <div v-else><Plotly :data="cp_ct_data" :layout="layout" /></div>
        </el-card>
      </el-col>
    </el-row>

  </el-form>
</template>

<style scoped>
.my-grid-class {
  height: 400px;
}
</style>

<script>
import { Plotly } from 'vue-plotly'
import axios from 'axios'
import { mapActions } from 'vuex'
import UploadExcelComponent from '@/components/UploadExcel/index.vue'
import mixin from '../../mixin.js'
import { max, min } from 'mathjs'

export default {
  name: 'ModelTEC3',
  components: {
    Plotly, UploadExcelComponent
  },
  mixins: [mixin],
  props: {
    isActive: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    dataLock() {
      return this.$store.getters.completion_state.lock
    }
  },
  data() {
    return {
      uploadButton: true,
      plot_data: false,
      columnDefs: ['Velocity', 'Cp', 'Ct'],
      rows: [{ velocity: 0, cp: 0, ct: 0 }],
      cp_ct_data: [
        { x: [], y: [], mode: 'lines', name: 'Cp' },
        { x: [], y: [], mode: 'lines', name: 'Ct' },
        { x: [], y: [], mode: 'lines', name: 'Cut In', line: { color: 'black' }},
        { x: [], y: [], mode: 'lines', name: 'Cut Out', line: { color: 'black' }},
        { x: [], y: [], mode: 'lines', name: 'Betz Limit', line: { color: 'blue', dash: 'dashdot', width: 4 }},
      ],
      n_velocity_elements: 1,
      form: {
        cp: [0, 0.4, 1, 1, 1],
        ct: [0, 0.2, 1.2, 1, 0.3],
        cp_ct_velocity: [0, 1, 2, 3, 4, 5],
        tip_speed_ratio: 5,
        cut_in_velocity: 0,
        cut_out_velocity: 10,
        number_rotor: 1,
        rotor_interdistance: 0,
        heading_angle_span: 0,
        bidirectional: false
      },
      c_io: [0, 1],
      max_vel: 10,
      layout: {
        title: 'Power and Thrust Coefficients Plot',
        xaxis: { title: { text: 'Velocity, (m/s)' }},
        yaxis: { title: { text: 'Cp/Ct coefficients' }},
        shapes: [
          {
            type: 'rect',
            xref: 'x',
            yref: 'paper',
            x0: 1,
            y0: 0,
            x1: 2,
            y1: 1,
            fillcolor: '#33ff33',
            opacity: 0.2,
            line: {
              width: 0
            }
          }
        ]
      }
    }
  },
  watch: {
    form: function() {
      this.formatData()
    },
    c_io: function() {
      this.cellUpdated()
    }
  },
  created() {
    this.fetch_inputs_model(this.studyId, 3, 'tec')
    this.fetch_project(this.studyId)
  },
  methods: {
    deleteAll() {
      this.rows = []
      this.plot_data = false
    },
    addRow() {
      this.rows.push({ velocity: 0, cp: 0, ct: 0})
    },
    deleteRow(index, rows) {
      rows.splice(index, 1)
      this.cellUpdated()
    },
    beforeUpload(file) {
      const isLt1M = file.size / 1024 / 1024 < 1
      if (isLt1M) {
        return true
      }
      this.$message({
        message: 'Please do not upload files larger than 1m in size.',
        type: 'warning'
      })
      return false
    },
    handleSuccess({ results, header }) {
      if (!header.includes('velocity') ||
          !header.includes('cp') ||
          !header.includes('ct')
      ) {
        this.$message({
          message: 'Unsupported format: Header name MUST be [velocity, cp, ct]',
          type: 'error'
        })
        return false
      }
      this.dataHandling(results)
    },
    dataHandling(res) {
      this.rows = res
      this.cellUpdated()
    },
    formatData() {
      this.rows = []
      for (var i = 0; i < this.form.cp.length; i++) {
        this.rows.push({ velocity: this.form.cp_ct_velocity[i],
          cp: this.form.cp[i],
          ct: this.form.ct[i] })
      }
      this.n_velocity_elements = i
      this.c_io = [this.form.cut_in_velocity, this.form.cut_out_velocity]
      this.cellUpdated()
    },
    fillFormCpCt() {
      this.form.cp_ct_velocity = this.rows.map(r => r.velocity)
      this.form.cp = this.rows.map(r => r.cp)
      this.form.ct = this.rows.map(r => r.ct)
    },
    submitForm(formName) {
      if ( this.dataLock ) {
        this.$notify({
          title: 'Data Locked',
          message: 'The data for this entity is locked and cannot be saved to the DB. Please go to the main module and fork the study or create a new entity.',
          duration: 0,
          type: 'warning'
        });
        return false
      }
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.fillFormCpCt()
          this.form.cut_in_velocity = min(this.c_io)
          this.form.cut_out_velocity = max(this.c_io)
          this.save_inputs_model(this.studyId, 3, 'tec', this.form)
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    reset() {
      this.update_project_progress(15)
    },
    cellUpdated() {
      this.cp_ct_data[0].x = this.rows.map(function(obj) { return obj.velocity })
      this.cp_ct_data[0].y = this.rows.map(function(obj) { return obj.cp })
      this.cp_ct_data[1].x = this.rows.map(function(obj) { return obj.velocity })
      this.cp_ct_data[1].y = this.rows.map(function(obj) { return obj.ct })
      this.cp_ct_data[2].x = [min(this.c_io), min(this.c_io)]
      this.cp_ct_data[2].y = [min([min(this.cp_ct_data[0].y), min(this.cp_ct_data[1].y)]), max([max(this.cp_ct_data[0].y), max(this.cp_ct_data[1].y)])]
      this.cp_ct_data[3].x = [max(this.c_io), max(this.c_io)]
      this.cp_ct_data[3].y = [min([min(this.cp_ct_data[0].y), min(this.cp_ct_data[1].y)]), max([max(this.cp_ct_data[0].y), max(this.cp_ct_data[1].y)])]
      this.cp_ct_data[4].x = [0, Math.max(...this.cp_ct_data[0].x)]
      this.cp_ct_data[4].y = [0.593, 0.593]
      this.layout.shapes[0].x0 = this.cp_ct_data[2].x[0]
      this.layout.shapes[0].y0 = this.cp_ct_data[2].y[0]
      this.layout.shapes[0].x1 = this.cp_ct_data[3].x[0]
      this.layout.shapes[0].y1 = this.cp_ct_data[3].y[1]
      this.max_vel = max(this.cp_ct_data[0].x)
      if ( this.max_vel == 0 ) {
        this.max_vel = 1  // forcing the max velocity to be non zero to avoid NaN due to the c_io variable
        this.plot_data = false
        return 0
      }
      this.plot_data = true
    },
    updateCpCt() {
      while (this.n_velocity_elements > this.rows.length) {
        this.rows.push({ velocity: null, cp: null, ct: null })
      }
      if (this.n_velocity_elements != this.rows.length) {
        this.$confirm('This will permanently delete the datapoint at the bottom of the table. Do you want to continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          while (this.n_velocity_elements < this.rows.length) {
            this.rows.pop()
          }
          this.cellUpdated()
        }).catch(() => {
          this.n_velocity_elements = this.rows.length
        })
      }
      this.cellUpdated()
    }
  }
}
</script>
