<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <el-form
      ref="ruleForm"
      :model="ruleForm"
      :rules="rules"
      class="demo-ruleForm"
    >
      <el-row :gutter="10">
        <el-form-item>
          <el-button icon="el-icon-check" round data-cy="submit_form" @click="submitForm('ruleForm')">Submit</el-button>
          <!-- <el-button icon="el-icon-close" round data-cy="rest_form" @click="resetForm('ruleForm')">Reset</el-button> -->
        </el-form-item>

        <el-col :span="12">
          <el-card>
            <div slot="header" />
            <div>
              <el-form-item label="Machine Cost (EUR)" prop="machine_cost">
                <el-input-number v-model="ruleForm.machine_cost" :precision="1" :step="10" data-cy="machine_cost" :controls="false" />
              </el-form-item>

              <el-form-item prop="floating">
                <el-checkbox v-model="ruleForm.floating" data-cy="floating">Floating</el-checkbox>
              </el-form-item>

              <el-form-item label="Preferred Fundation Type" prop="preferred_fundation_type">
                <el-select v-model="ruleForm.preferred_fundation_type" data-cy="preferred_fundation_type">
                  <el-option label="Pile" value="pile" />
                  <el-option label="Gravity" value="gravity" />
                  <el-option label="Drag Embedded" value="drag_embedded" />
                </el-select>
              </el-form-item>

              <el-form-item label="Connector Type" prop="connector_type">
                <el-select v-model="ruleForm.connector_type" data-cy="connector_type">
                  <el-option label="Dry" value="dry" />
                  <el-option label="Wet" value="wet" />
                </el-select>
              </el-form-item>

              <el-form-item label="Rated Capacity (kW)" prop="rated_capacity">
                <el-input-number v-model="ruleForm.rated_capacity" data-cy="rated_capacity" :controls="false" :precision="2" :step="0.05" />
              </el-form-item>

               <!-- <el-form-item label="Rated Voltage (V)" prop="rated_voltage">
                <el-input-number v-model="ruleForm.rated_voltage" data-cy="rated_voltage" :controls="false" :precision="2" :step="0.05" />
              </el-form-item> -->


              <el-form-item label="Min Installation Water Depth (m)" prop="min_installation_water_depth">
                <el-input-number v-model="ruleForm.min_installation_water_depth" data-cy="min_installation_water_depth" :controls="false" :precision="2" :step="0.05" />
              </el-form-item>

              <el-form-item label="Max Installation Water Depth (m)" prop="max_installation_water_depth">
                <el-input-number v-model="ruleForm.max_installation_water_depth" data-cy="max_installation_water_depth" :controls="false" :precision="2" :step="0.05" />
              </el-form-item>

            </div>
          </el-card>
        </el-col>

        <el-col :span="12">
           <el-card>
                <div slot="header">
                  <el-form :inline="true" :model="add_material" class="demo-form-inline">
                    <el-form-item label="Material">
                      <el-select v-model="add_material.material_name" placeholder="Select Material" data-cy="select_material">
                        <el-option
                          v-for="item in material_options"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value"
                        />
                      </el-select>
                    </el-form-item>
                    <el-form-item label="Quantity (kg)">
                      <el-input-number
                        v-model="add_material.material_quantity"
                        controls-position="right"
                        size="mini"
                        :min="0"
                        placeholder="Quantity (kg)"
                        data-cy="select_quantity"
                      />
                    </el-form-item>
                    <el-form-item>
                      <el-button type="primary" data-cy="add_material" @click="addMaterial">Add</el-button>
                    </el-form-item>
                  </el-form>
                </div>
                <div>
                  <el-form-item>
                    <el-table :data="ruleForm.materials" style="width: 100%">
                      <el-table-column prop="material_name" label="Material" />
                      <el-table-column prop="material_quantity" label="Quantity" />
                      <el-table-column
                        fixed="right"
                        label="Operations"
                        width="120"
                      >
                        <template slot-scope="scope">
                          <el-button
                            type="text"
                            size="small"
                            @click.native.prevent="removeMaterial(scope.$index, ruleForm.materials)"
                          >
                            Remove
                          </el-button>
                        </template>
                      </el-table-column>
                    </el-table>
                  </el-form-item>
                </div>
              </el-card>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      optimization: null,
      ruleForm: {
        floating: true,
        connector_type: 'dry',
        constant_power_factor: 0.98,
        machine_cost: 1000000,
        max_installation_water_depth: 500,
        min_installation_water_depth: 5,
        min_interdistance_x: 100,
        min_interdistance_y: 50,
        preferred_fundation_type: 'drag_embedded',
        rated_capacity: 500,
        rated_voltage: 230,
        materials: []
      },
      rules: {
      },
      add_material: { material_quantity: null, material_name: '' },
      material_options: [
        {
          value: 'undefined',
          label: 'Undefined'
        }, {
          value: 'abs',
          label: 'ABS'
        }, {
          value: 'unalloyed_steel',
          label: 'Unalloyed Steel'
        }, {
          value: 'low_unalloyed_steel',
          label: 'Low Unalloyed Steel'
        }, {
          value: 'aluminium',
          label: 'Aluminium'
        }, {
          value: 'concrete',
          label: 'Concrete'
        }, {
          value: 'brick',
          label: 'Brick'
        }, {
          value: 'copper',
          label: 'Copper'
        }, {
          value: 'steel',
          label: 'Steel'
        }, {
          value: 'fibre',
          label: 'Fibre'
        }, {
          value: 'synthetic_fiber',
          label: 'Synthetic Fiber'
        }, {
          value: 'cast_iron',
          label: 'Cast Iron'
        }, {
          value: 'gravel',
          label: 'Gravel'
        }, {
          value: 'oil',
          label: 'Oil'
        }, {
          value: 'brass',
          label: 'Brass'
        }, {
          value: 'magnesium',
          label: 'Magnesium'
        }, {
          value: 'kraft_paper',
          label: 'Kraft Paper'
        }, {
          value: 'alkyd_pain',
          label: 'Alkyd Paint'
        }, {
          value: 'lead',
          label: 'Lead'
        }, {
          value: 'polybutadiene',
          label: 'Polybutadiene'
        }, {
          value: 'hd',
          label: 'HD'
        }, {
          value: 'granulate',
          label: 'Granulate'
        }, {
          value: 'pvc',
          label: 'PVC'
        }, {
          value: 'epoxy_resin',
          label: 'Epoxy Resin'
        }, {
          value: 'sand',
          label: 'Sand'
        }, {
          value: 'tile',
          label: 'Tile'
        }, {
          value: 'zinc',
          label: 'Zinc'
        }, {
          value: 'fuel',
          label: 'Fuel'
        }]
    }
  },
  computed: {
    studyId() {
      return this.$store.getters.studyId
    },
    dataLock() {
      return this.$store.getters.completion_state.lock
    }
  },
  created() {
    this.get_general_inputs()
  },
  methods: {
    get_general_inputs() {
      const path = `${process.env.VUE_APP_API_URL}/mc/${this.studyId}/general`

      axios
        .get(path)
        .then(res => {
          for (const k of Object.keys(this.ruleForm)) {
            this.ruleForm[k] = res.data[k]
          }
        })
        .catch(error => {
          this.$message({
            message: error.response.data.message,
            type: 'error' })
        })
    },
    submit_input(payload) {
      const path = `${process.env.VUE_APP_API_URL}/mc/${this.studyId}/general`
      if (this.ruleForm.materials.length < 1) {
        this.$message.error('Missing materials definition. The request cannot be completed')
        return -1
      }
      axios
        .put(path, payload)
        .then(res => {
          this.$message({
            message: 'General input saved',
            type: 'success' })
          this.$store.dispatch('studies/updateStatus', { key: 'general' , value: true })
        })
        .catch(error => {
          this.$message({
            message: error.response.data.message,
            type: 'error' })
        })
    },
    submitForm(formName) {
      if ( this.dataLock ) {
        this.$notify({
          title: 'Data Locked',
          message: 'The data for this entity is locked and cannot be saved to the DB. Please go to the main module and fork the study or create a new entity.',
          duration: 0,
          type: 'warning'
        });
        return false
      }
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.submit_input(this.$refs[formName]._props['model'])
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    resetForm(formName) {
      this.$refs[formName].resetFields()
    },
    removeMaterial(index, rows) {
      console.log(this.ruleForm.materials)
      rows.splice(index, 1)
      console.log(this.ruleForm.materials)
    },
    addMaterial() {
      if (this.add_material.material_quantity != null) {
        this.ruleForm.materials.push(this.add_material)
        this.add_material = { material_quantity: null, material_name: '' }
      }
    }
  }
}
</script>
