<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <Plotly :data="data" :layout="layout" />
  </div>
</template>

<script>
import axios from 'axios'
import { Plotly } from 'vue-plotly'

export default {
  components: {
    Plotly
  },
  props: [
    'contourChartData'
  ],
  data() {
    return {
      x: this.contour_chart_data['x'],
      y: this.contour_chart_data['y'],
      title: this.contour_chart_data['title'],
      layout: {
        title: 'Power Matrix',
        xaxis: {
          title: {
            text: 'Tp (s)',
            font: {
              family: 'Courier New, monospace',
              size: 18,
              color: '#7f7f7f'
            }
          }
        },
        yaxis: {
          title: {
            text: 'Hs (m)',
            font: {
              family: 'Courier New, monospace',
              size: 18,
              color: '#7f7f7f'
            }
          }
        }
      }
    }
  },
  computed: {
    data() {
      const d = [{
        type: 'bar',
        x: this.x,
        y: this.y,
        orientation: 'h'
      }]
      return d
    }
  }
}
</script>
