<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <el-form ref="form" :model="form">
      <el-row :gutter="10">
        <el-form-item>
          <el-button icon="el-icon-check" round data-cy="submit_form" @click="submitForm('form')">Submit</el-button>
        </el-form-item>
        <el-card>
          <div slot="header" />
          <div>
            <el-row :gutter="10">
              <el-col :span="12">
                <el-form-item label="Rotor Power Coefficient" required>
                  <el-input-number v-model="form.cp" :precision="2" :step="0.1" :max="1" />
                  <el-alert v-if="form.cp>0.593"
                      style="margin-top: 20px"
                      type="warning">Betz Limit exceeded!
                    </el-alert>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="Number Rotor" required>
                  <el-input-number v-model="form.number_rotor" :step="1" :min="1" :max="10" />
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </el-card>
      </el-row>
    </el-form>
  </div>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'
import mixin from '../../mixin.js'

export default {
  name: 'ModelTEC1',
  mixins: [mixin],
  props: {
    isActive: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      form: {
        cp: null,
        number_rotor: null
      }
    }
  },
  computed: {
    studyId() {
      return this.$store.getters.studyId
    },
    dataLock() {
      return this.$store.getters.completion_state.lock
    }
  },
  created() {
    this.fetch_inputs_model(this.studyId, 1, 'tec')
    this.fetch_project(this.studyId)
  },
  methods: {
    submitForm(formName) {
      if ( this.dataLock ) {
        this.$notify({
          title: 'Data Locked',
          message: 'The data for this entity is locked and cannot be saved to the DB. Please go to the main module and fork the study or create a new entity.',
          duration: 0,
          type: 'warning'
        });
        return false
      }
      console.log('SAVE', this.$refs[formName]._props['model'])
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.save_inputs_model(this.studyId, 1, 'tec', this.$refs[formName]._props['model'])
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    reset() {
      console.log('TBI')
    }
  }
}
</script>

