<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <br>
    <el-row>
      <el-button type="text" icon="el-icon-circle-plus-outline" data-cy="createProjectBtn" @click="dialogVisible = true">Add New Project</el-button>
      <el-button type="text" icon="el-icon-upload2" data-cy="uploadProjectBtn" @click="uploadVisible = true">Upload From File</el-button>
    </el-row>
    <el-drawer
      title="Upload Project From Json File"
      :visible.sync="uploadVisible"
      direction="rtl"
    >
      <upload-json-component :on-success="handleSuccess" :before-upload="beforeUpload" />
    </el-drawer>
    <div>
      <el-dialog title="Create a new MC project" :visible.sync="dialogVisible" width="30%">
        <el-form
          ref="ruleForm"
          :model="ruleForm"
          :rules="rules"
          label-width="120px"
          class="demo-ruleForm"
        >
          <el-form-item label="Project Title" prop="title">
            <el-input v-model="ruleForm.title" placeholder="add a project unique title" data-cy="projectTitle" />
          </el-form-item>
          <el-form-item label="Tags" prop="tags">
            <el-input v-model="ruleForm.tags" placeholder="add a project tag" data-cy="projectTags" />
          </el-form-item>
          <el-form-item label="Project Complexity" prop="complexity">
            <el-select v-model="ruleForm.complexity" placeholder="Complexity Level" data-cy="projectComplexity">
              <el-option label="1" value="1" />
              <el-option label="2" value="2" />
              <el-option label="3" value="3" />
            </el-select>
          </el-form-item>
          <el-form-item label="Machine type" prop="type">
            <el-select v-model="ruleForm.type" placeholder="Machine Type" data-cy="projectMachineType">
              <el-option label="Tidal Converter" value="TEC" />
              <el-option label="Wave Converter" value="WEC" />
            </el-select>
          </el-form-item>
          <el-form-item label="Project Description" prop="desc">
            <el-input
              v-model="ruleForm.desc"
              placeholder="short project description"
              type="textarea"
              data-cy="projectDescription"
            />
          </el-form-item>
          <el-form-item>
            <el-button v-if="editingRole" type="primary" data-cy="projectSave" @click="submitForm('ruleForm')">Save</el-button>
            <el-button v-else type="primary" data-cy="projectCreate" @click="submitForm('ruleForm')">Create</el-button>
            <el-button @click="resetForm('ruleForm')">Reset</el-button>
          </el-form-item>
        </el-form>
      </el-dialog>
    </div>

    <el-table
      :data="mc_studies.filter(data => !search || data.tags.toLowerCase().includes(search.toLowerCase()))"
      style="width: 100%"
      max-height="500"
    >
      <el-table-column type="expand">
        <template slot-scope="props">
          <p>Database ID: {{ props.row.id }}</p>
          <p>Description: {{ props.row.desc }}</p>
          <p>Tags: {{ props.row.tags }}</p>
        </template>
      </el-table-column>
      <!-- <el-table-column fixed prop="id" label="ID" width="50"></el-table-column> -->
      <el-table-column prop="title" label="Title" width="120" />
      <el-table-column prop="date" label="Date" width="120" />
      <el-table-column prop="type" label="Type" width="120" />
      <el-table-column prop="complexity" label="Complexity" width="300" />
      <el-table-column prop="status" label="Status" width="120" />
      <el-table-column fixed="right" label="Operations" width="180">
        <template slot="header" slot-scope="scope">
          <el-input
            v-model="search"
            size="mini"
            placeholder="Filter by Tags"
          />
        </template>
        <template slot-scope="scope">
          <el-button
            type="text"
            size="small"
            data-cy="projectRemove"
            @click.native.prevent="deleteRow(scope.$index, mc_studies)"
          >Remove</el-button>
          <!-- <el-button
            @click.native.prevent="copyRow(scope.$index, mc_studies)"
            type="text"
            size="small"
            data-cy="projectCopy"
          >Copy</el-button> -->
          <el-button
            type="text"
            size="small"
            data-cy="projectEdit"
            @click.native.prevent="editRow(scope.$index, mc_studies)"
          >Edit</el-button>
          <el-button
            type="text"
            size="small"
            data-cy="projectOpen"
            @click.native.prevent="openRow(scope.$index, mc_studies)"
          >Open</el-button>
          <el-button
            type="text"
            size="small"
            data-cy="projectSave2File"
            @click.native.prevent="saveToFile(scope.$index, mc_studies)"
          >Save</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import axios from 'axios'
import mixin from '../../mixin.js'
import UploadJsonComponent from '@/components/UploadJson/index.vue'

export default {
  components: { UploadJsonComponent },
  mixins: [mixin],
  data() {
    return {
      filename: 'project.json',
      uploadVisible: false,
      search: '',
      name: 'Dashboard',
      message: '',
      ruleForm: {
        title: 'test',
        tags: 'tec',
        complexity: 1, // null,
        type: 'TEC',
        desc: 'test'
      },
      rules: {
        title: [
          {
            required: true,
            message: 'Please input a projct title',
            trigger: 'blur'
          },
          {
            min: 3,
            max: 50,
            message: 'Length should be 3 to 50',
            trigger: 'blur'
          }
        ],
        tags: [
          {
            required: true,
            message: 'Please input a tag for the project',
            trigger: 'blur'
          },
          {
            min: 3,
            max: 10,
            message: 'Length should be 3 to 10',
            trigger: 'blur'
          }
        ],
        complexity: [
          {
            required: true,
            message: 'Please select a Project Complexity',
            trigger: 'change'
          }
        ],
        type: [
          {
            required: true,
            message: 'Please select a Machine Type',
            trigger: 'change'
          }
        ],
        desc: [
          {
            required: true,
            message: 'Please input a project description',
            trigger: 'blur'
          }
        ]
      },
      dialogVisible: false,
      editingRole: false,
      mc_studies: [],
      uPr_str: ['project', 'general', 'dimensions', 'model', 'hydro']
    }
  },
  created() {
    this.getProjects()
  },
  methods: {
    saveToFile(index, rows) {
      const studyId = rows[index].id
      const mac = rows[index].type.toLowerCase()
      const cpx = rows[index].complexity
      const prj = Object.keys(rows[index]).reduce((object, key) => {
        if (!['id', 'dimensions', 'results', 'model', 'general'].includes(key)) {
          object[key] = rows[index][key]
        }
        return object
      }, {})
      var studyData = { project: prj, general: null, dimensions: null, model: null, hydro: null }

      const URLs = [`${process.env.VUE_APP_API_URL}/mc/${studyId}/general`,
        `${process.env.VUE_APP_API_URL}/mc/${studyId}/dimensions`,
        `${process.env.VUE_APP_API_URL}/mc/${studyId}/model/${mac}/complexity${cpx}`,
        `${process.env.VUE_APP_API_URL}/mc/${studyId}/single_machine_hydrodynamic`]

      const requests = URLs.map(URL => axios.get(URL).catch(err => null))

      axios.all(requests)
        .then(axios.spread((...r) => {
          for (const k of ['general', 'dimensions', 'model', 'hydro']) {
            var ob = r.find(o => {
              if (o == null) { return null }
              if (o.request.responseURL.includes(k) && o.data != null) {
                debugger
                if (Object.keys(o.data).includes('id')) {delete o.data.id}
                if (Object.keys(o.data).includes('project')) {delete o.data.project}
                return o
              }
              return null
            })
            debugger
            studyData[k] = (ob != null) ? (ob.data) : (null)
          }
          this.downloadProjectFile(studyData, `${studyData.project.title}_prj.json`)
        }))
        .catch((error) => {
          this.$message({ message: error, type: 'error' })
        })
    },
    downloadProjectFile(jsonData, filename) {
      const jsonDataString = JSON.stringify(jsonData)
      const blob = new Blob([jsonDataString], { type: 'text/plain;charset=utf-8;' })
      if (navigator.msSaveBlob) { // IE 10+
        navigator.msSaveBlob(blob, filename)
      } else {
        const link = document.createElement('a')
        if (link.download !== undefined) { // feature detection
          // Browsers that support HTML5 download attribute
          const url = URL.createObjectURL(blob)
          link.setAttribute('href', url)
          link.setAttribute('download', filename)
          link.style.visibility = 'hidden'
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
        }
      }
    },
    beforeUpload(file) {
      const isLt1M = file.size / 1024 / 1024 < 5
      if (isLt1M) {
        return true
      }
      this.$message({
        message: 'Please do not upload files larger than 5MB in size.',
        type: 'warning'
      })
      return false
    },
    handleSuccess({ results, header }) {
      this.uploadVisible = false
      this.uploadProject({ results, header })
    },
    uploadProject({ results, header }) {
      debugger
      if (header.length !== this.uPr_str.length && !header.every((value) => value in this.uPr_str)) {
        this.$message({
          message: `Wrong file format. The JSON file must contains the following keys: ${this.uPr_str}`,
          type: 'error'
        })
        return false
      }
      const path = `${process.env.VUE_APP_API_URL}/mc`
      const prj_payload = results.project
      axios
        .post(path, prj_payload)
        .then(res => {
          // fetch the updated list of project is successfull
          debugger
          const id = res.data.ID
          const cpx = results.project.complexity
          const mac = results.project.type.toLowerCase()
          const path_upload = `${process.env.VUE_APP_API_URL}/mc/${id}/inputs/upload/${mac}/complexity${cpx}`
          debugger
          var input_payload = (results.general != null) ? results.general : {}
          input_payload['dimensions'] = results.dimensions
          input_payload['numerical_model'] = results.model
          const json = JSON.stringify(input_payload)
          const blob = new Blob([json], {
            type: 'application/json'
          })
          const formData = new FormData()
          formData.append('file', blob)
          axios
            .post(path_upload, formData, { headers: { 'Content-Type': 'multipart/form-data' }})
            .then(res => {
              this.getProjects()
            })
            .catch(error => {
              debugger
              this.$message({ message: error.response.data.message, type: 'error' })
            })
        })
        .catch(error => {
          debugger
          this.$message({ message: error.response.data.message, type: 'error' })
          this.getProjects()
        })
      // const path = `${process.env.VUE_APP_API_URL}/mc/${this.studyId}/inputs/upload/${this.machine}/complexity${this.complexity}`;
      // const path = `${process.env.VUE_APP_API_URL}/mc/${this.studyId}/single_machine_hydrodynamic`;
    },
    postProject(payload) {
      const path = `${process.env.VUE_APP_API_URL}/mc`
      var dateobj = new Date()
      payload.date = dateobj.toString().substring(3, 24)
      payload.status = 0
      axios
        .post(path, payload)
        .then(res => {
          // fetch the updated list of project is successfull
          this.getProjects()
          this.message = res.data
          this.showMessage = true
        })
        .catch(error => {
          console.error(error)
          this.getProjects()
        })
    },
    putProject(payload) {
      const path = `${process.env.VUE_APP_API_URL}/mc/${payload.id}`
      var dateobj = new Date()
      payload.date = dateobj.toString().substring(3, 24)
      axios
        .put(path, payload)
        .then(res => {
          // fetch the updated list of project is successfull
          this.formSetDefault()
          this.getProjects()
          this.message = res.data
          this.showMessage = true
        })
        .catch(error => {
          console.error(error)
          this.getProjects()
        })
    },
    putConfirmation(payload) {
      if ( payload.complexity !== this.$store.getters.complexity || payload.type.toLowerCase() !== this.$store.getters.machine_type ) {
        this.$confirm('Changing the Complexity or the Machine type requires to delete the project inputs. Do you want to continue?', 'Confirm', {
          type: 'warning',
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel'
        })
        .then(() => {  // operation confirmed
          axios.all([
            this.removeProject(payload.id)
          ])
          .then(axios.spread((d_project) => {
            this.$message.success('Project inputs and results deleted from DB')
            payload.status = 0;
            this.postProject(payload)
          }))
          .catch(error => {
            this.$message.error(error)
          })
        })
        .catch(() => {  // operation aborted
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          })
          return 0
        })
      } else {
        this.putProject(payload)
      }
    },
    getProjects() {
      const path = `${process.env.VUE_APP_API_URL}/mc`
      axios
        .get(path)
        .then(res => {
          this.mc_studies = res.data
        })
        .catch(error => {
          // eslint-disable-next-line
          this.mc_studies = []
          console.error(error)
        })
    },
    removeProject(mcId) {
      const path = `${process.env.VUE_APP_API_URL}/mc/${mcId}`
      axios
        .delete(path)
        .then(res => {
          this.getProjects()
          // this.message = res.data.result.message;
          this.showMessage = true
        })
        .catch(error => {
          console.error(error)
          this.getProjects()
        })
    },
    deleteRow(index, rows) {
      this.removeProject(rows[index].id)
    },
    editRow(index, rows) {
      this.editingRole = true
      this.ruleForm = rows[index]
      this.dialogVisible = true
      this.$store.dispatch('studies/setComplexity', { complexity: rows[index].complexity })
      this.$store.dispatch('studies/setMachine', { machine: rows[index].type })
    },
    copyRow(index, rows) {
      var payload = rows[index]
      var dateobj = new Date()
      var B = dateobj.toString().substring(16, 24)
      payload.title += '_copy_' + B
      delete payload['id']
      delete payload['farm']
      delete payload['devices']
      this.postProject(payload)
    },
    openRow(index, rows) {
      debugger
      this.$store.dispatch('studies/setId', { studyId: rows[index].id })
      this.$store.dispatch('studies/setTitle', { studyTitle: rows[index].title })
      this.$store.dispatch('studies/setBodies', { wecBodies: [] })
      this.$store.dispatch('studies/setJoints', { wecJoints: [] })
      this.$store.dispatch('studies/setComplexity', { complexity: rows[index].complexity })
      this.$store.dispatch('studies/setMachine', { machine: rows[index].type })

      // FIRST RESET THE STATUS OBJECT
      this.$store.dispatch('studies/updateStatus', { key: 'general' , value: false })
      this.$store.dispatch('studies/updateStatus', { key: 'dimensions' , value: false })
      this.$store.dispatch('studies/updateStatus', { key: 'model' , value: false })
      this.$store.dispatch('studies/updateStatus', { key: 'results' , value: false })
      this.$store.dispatch('studies/updateStatus', { key: 'lock' , value: false })

      // THEN UPDATE THE STATUS OBJECT WITH THE DATA FROM THE ENTITY
      this.$store.dispatch('studies/updateStatus', { key: 'general' , value: rows[index].general!==null })
      this.$store.dispatch('studies/updateStatus', { key: 'dimensions' , value: rows[index].dimensions!==null })
      this.$store.dispatch('studies/updateStatus', { key: 'model' , value: rows[index].model!==null })
      this.$store.dispatch('studies/updateStatus', { key: 'results' , value: rows[index].results!==null })
      this.$store.dispatch('studies/updateStatus', { key: 'lock' , value: rows[index].data_lock })
      this.$router.push({ name: 'GeneralInput' })
    },
    submitForm(formName) {
      debugger
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.dialogVisible = false
          if (this.editingRole) {
            this.editingRole = false
            this.putConfirmation(this.$refs[formName]._props['model'])
          } else {
            this.postProject(this.$refs[formName]._props['model'])
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    resetForm(formName) {
      this.$refs[formName].resetFields()
    },
    formSetDefault() {
      this.ruleForm.title = ''
      this.ruleForm.tags = ''
      this.ruleForm.complexity = null
      this.ruleForm.type = ''
      this.ruleForm.desc = ''

      this.resetForm('ruleForm')
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>

