{% extends 'base.html' %}

{% block header %}
<div>
  <h1>{% block title %}New Project{% endblock %}</h1>
</div>
{% endblock %}

{% block content %}
  <form method="post">
	<div class="input-group">
		<!-- <label for="prj_name">Project name</label> -->
		<input type="text" class="form-control" placeholder="Project name" aria-label="Project name" aria-describedby="basic-addon2" name="prj_name" id="prj_name" value="{{ request.form['prj_name'] }}" required>
	</div>
	
	<div class="input-group">
	<!-- <span class="input-group-addon">Project folder</span> -->
			<input type="text" class="form-control" placeholder="Project folder" name="prj_folder" id="prj_folder" aria-describedby="basic-addon2" value="{{ request.form['prj_folder'] }}" required>
			<!-- <label class="custom-file-label" for="prj_folder">Choose folder</label> -->
	</div>
	

	
	<div class="input-group">
        <span class="input-group-addon">Select a project stage</span>
            <select name="stage_select" class="selectpicker form-control">
                {% for o in data[0] %}
                <option value="{{ o.stage }}">{{ o.stage }}</option>
                {% endfor %}
            </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Select a technology type</span>
            <select name="machine_select" class="selectpicker form-control">
                {% for o in data[1] %}
                <option value="{{ o.machine }}">{{ o.machine }}</option>
                {% endfor %}
            </select>
    </div>
	
    <input type="submit" value="Save">
  </form>
{% endblock %}