{% extends 'base.html' %}

{% block header %}


  <h1>{% block title %}Energy Capture GUI: development phase{% endblock %}</h1>

{% endblock %}

{% block content %}
  <p>{{ _('The DTOcean+ project has been initiated as a <b>%(content)s</b> project', content=content) }}</p>
{% endblock %}

