<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <keep-alive>
    <component :is="current_component" v-loading="loading" />
  </keep-alive>
</template>

<script>
import ModelTEC1 from '@/components/ModelTEC1'
import ModelTEC2 from '@/components/ModelTEC2'
import ModelTEC3 from '@/components/ModelTEC3'
import ModelWEC1 from '@/components/ModelWEC1'
import ModelWEC2 from '@/components/ModelWEC2'
import ModelWEC3 from '@/components/ModelWEC3'
import LoadingModel from '@/components/LoadingModel'
import axios from 'axios'
import { mapActions } from 'vuex'

export default {
  components: {
    LoadingModel,
    ModelTEC1,
    ModelTEC2,
    ModelTEC3,
    ModelWEC1,
    ModelWEC2,
    ModelWEC3
  },
  data() {
    return {
      loading: true,
      complexity: null,
      machine: '',
      form: {
        cp: null,
        number_rotor: null
      }
    }
  },
  computed: {
    current_component: function() {
      console.log('DYNAMIC COMPONENT', this.complexity, this.machine.toUpperCase())
      console.log(`Model${this.machine.toUpperCase()}${this.complexity}`)
      if (this.complexity == null) { return 'LoadingModel' }
      return `Model${this.machine.toUpperCase()}${this.complexity}`
    },
    studyId() {
      return this.$store.getters.studyId
    }
  },
  created() {
    this.fetch_inputs()
    this.fetch_project()
    this.fetch_characteristic_dimension()
  },
  methods: {
    ...mapActions({
      update_project_progress: 'status/update_progress'
    }),
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.save_inputs(this.$refs[formName]._props['model'])
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    fetch_project() {
      const path = `${process.env.VUE_APP_API_URL}/mc/${this.studyId}`

      axios
        .get(path)
        .then(res => {
          this.complexity = res.data.complexity
          this.machine = res.data.type
        })
        .catch(error => {
          console.error(error)
        })
    },
    fetch_characteristic_dimension() {
      const path = `${process.env.VUE_APP_API_URL}/mc/${this.studyId}/dimensions`

      axios
        .get(path)
        .then(res => {
          this.$store.dispatch('studies/setCharDim', { characteristicLength: res.data.characteristic_dimension })
        })
        .catch(error => {
          console.error(error)
        })
    },
    fetch_inputs() {
      const path = `${process.env.VUE_APP_API_URL}/mc/${this.studyId}/model/tec/complexity1`

      axios
        .get(path)
        .then(res => {
          this.form = res.data
          this.loading = false
        })
        .catch(error => {
          console.error(error)
          this.loading = false
        })
    },
    reset() {
      // for (let key in this.form) {
      //   this.form[key] = null
      // };
      // TODO: remove the DB inputs
      this.update_project_progress(15)
    },
    save_inputs(payload) {
      const id = this.$route.params.mc_id
      const path = `${process.env.VUE_APP_API_URL}/mc/${id}/model/tec/complexity1`

      this.update_project_progress(30)
      this.$message({
        message: 'Inputs saved',
        type: 'success' })
      // axios
      //   .put(path, payload)
      //   .then(res => {
      //     this.update_project_progress(15);
      //     this.$message({
      //         message: 'Inputs saved',
      //         type: 'success'});
      //   })
      //   .catch(error => {
      //     this.$message({
      //         message: error,
      //         type: 'error'});
      //   });
    }
  }
}
</script>
