<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App',
  watch: {
    '$route' (to, from) {
      document.title = 'Machine Characterization'
    }
  }
  // methods: {
  //   async insertPlugin() {
  //     return new Promise((resolve, reject) => {
  //       const script = document.createElement("script");
  //       script.onload = resolve;
  //       script.onerror = reject;
  //       script.src = "http://dtop.com/integration-resourses/connector.umd.js";
  //       script.setAttribute("id", "connector_script");
  //       document.getElementsByTagName("head")[0].appendChild(script);
  //     });
  //   }
  // },
  // async mounted() {
  //   await this.insertPlugin();

  //   try {
  //     dtop.eventManager.addEventListener("create", parameters => { //eslint-disable-line
  //       const providers = !parameters.providersIds ? null : JSON.stringify(parameters.providersIds);
  //       this.$router.replace(
  //         `/stage-gate-studies/index?entityAction=create&${providers ? `providersIds=${providers}` : ''}`
  //       );
  //     });
  //     dtop.eventManager.addEventListener("edit", parameters => { //eslint-disable-line
  //       this.$router.replace(`/stage-gate-studies/${parameters.id}`);
  //     });
  //     dtop.eventManager.addEventListener("delete", parameters => { //eslint-disable-line
  //       this.$router.replace(`/stage-gate-studies/index?entityAction=delete&id=${parameters.id}`);
  //     });
  //     dtop.eventManager.emit("ready"); //eslint-disable-line
  //   } catch (e) {
  //     console.log('Integration library is not available')
  //   }
  // }
}
</script>
