<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <el-collapse v-model="activeName" @change="collapseChange">
      <el-collapse-item title="Radiation Coefficients" name="rad">
        <el-select v-model="dofi" placeholder="Select DOF (row)" @change="plotRad($event)">
          <el-option
            v-for="[k,v] of Object.entries(dofs)"
            :key="k"
            :label="v"
            :value="k"
          />
        </el-select>
        <el-select v-model="dofj" placeholder="Select DOF (column)" @change="plotRad($event)">
          <el-option
            v-for="[k,v] of Object.entries(dofs)"
            :key="k"
            :label="v"
            :value="k"
          />
        </el-select>
        <div>
          <Plotly :data="rad" :layout="layout_rad" />
        </div>
      </el-collapse-item>
      <el-collapse-item title="Excitation Force Coefficients" name="exc">
        <el-select v-model="ang" placeholder="Select Angle" @change="plotExc($event)">
          <el-option
            v-for="[k,v] of Object.entries(angles)"
            :key="k"
            :label="v"
            :value="k"
          />
        </el-select>
        <el-select v-model="dof" placeholder="Select DOF" @change="plotExc($event)">
          <el-option
            v-for="[k,v] of Object.entries(dofs)"
            :key="k"
            :label="v"
            :value="k"
          />
        </el-select>
        <el-radio-group v-model="radio" @change="plotExc()">
          <el-radio :label="1">Mag/Phase</el-radio>
          <el-radio :label="2">Real/Imag</el-radio>
        </el-radio-group>
        <div>
          <Plotly :data="exc" :layout="layout_exc" />
        </div>
      </el-collapse-item>
    </el-collapse>

  </div>
</template>

<script>
import { Plotly } from 'vue-plotly'
import { create, all } from 'mathjs'

const config = { }
const math = create(all, config)

export default {
  name: 'Results',
  components: {
    Plotly
  },
  props: [
    'results',
    'dofs',
    'angles'
  ],
  data: function() {
    debugger
    return {
      radio: 1,
      layout_rad: {
        xaxis: { title: { text: 'frequency, (rad/s)' }},
        yaxis: { title: { text: 'Added Mass, (N/(m/s2) - Nm/(rad/s2))' }},
        legend: {"orientation": "h", x: 0, y: 1.1},
        yaxis2: {
            title: 'Radiation Damping, (N/(m/s) - Nm/(rad/s))',
            titlefont: {color: 'rgb(148, 103, 189)'},
            tickfont: {color: 'rgb(148, 103, 189)'},
            overlaying: 'y',
            side: 'right'
          }
      },
      layout_exc: {
        xaxis: { title: { text: 'frequency, (rad/s)' }},
        yaxis: { title: { text: 'Excitation Coeff. Magnitude, (N/m - Nm/m)' }},
        legend: {"orientation": "h", x: 0, y: 1.1},
        yaxis2: {
            title: 'Excitation Coeff. Angle, (deg)',
            titlefont: {color: 'rgb(148, 103, 189)'},
            tickfont: {color: 'rgb(148, 103, 189)'},
            overlaying: 'y',
            side: 'right'
          }
      },
      ang: null,
      dof: null,
      dofi: null,
      dofj: null,
      rad: [],
      exc: []
    }
  },
  computed: {
    // dofs() {
    //   if (this.results!=null) {
    //       // the variable is defined
    //       return [... Array(this.results.added_mass[0].length).keys()]
    //   }
    //   return []
    // },
    // angles() {
    //   return [0]
    // }
  },
  methods: {
    plotRad(event) {
      debugger
      if (this.dofi == null || this.dofj == null) { return -1 }
      this.rad = []

      this.rad.push({ x: this.results.wave_frequency,
        y: this.results.added_mass.map(ob => ob[this.dofi][this.dofj]),
        mode: 'line', name: 'Added Mass dof:[' + this.dofi + ',' + this.dofj + ']' })
      this.rad.push({ x: this.results.wave_frequency,
        y: this.results.radiation_damping.map(ob => ob[this.dofi][this.dofj]),
        mode: 'line', name: 'Radiation Damping dof:[' + this.dofi + ',' + this.dofj + ']' ,
        yaxis: 'y2'})
    },
    plotExc(event) {
      if (this.dof == null || this.ang == null) { return -1 }
      let fex_1 = []
      let fex_2 = []
      debugger
      if ( this.radio == 1 ) {
        let re = this.results.excitation_force_real.map(ob => ob[this.ang][this.dof])
        let im = this.results.excitation_force_imag.map(ob => ob[this.ang][this.dof])
        let vec = []
        for (let ii=0; ii<re.length; ii++) {
          vec = math.complex(re[ii], im[ii]).toPolar()
          fex_1.push(vec.r)
          fex_2.push(vec.phi*180/3.14)
        }

        this.exc = []
        this.exc.push({ x: this.results.wave_frequency,
          y: fex_1,
          mode: 'line', name: 'Magnitude - beta: ' + this.ang + 'deg, DOF: ' + this.dof })
        this.exc.push({ x: this.results.wave_frequency,
          y: fex_2,
          mode: 'line', name: 'Phase - beta: ' + this.ang + 'deg, DOF: ' + this.dof,
          yaxis: 'y2'})

        this.layout_exc.yaxis.title.text = 'Excitation Coeff. Magnitude, (N/m - Nm/m)'
        this.layout_exc.yaxis2.title = 'Excitation Coeff. Angle, (deg)'
        this.layout_exc.yaxis2.titlefont = {color: 'rgb(148, 103, 189)'}

      } else {
        fex_1 = this.results.excitation_force_real.map(ob => ob[this.ang][this.dof])
        fex_2 = this.results.excitation_force_imag.map(ob => ob[this.ang][this.dof])

        this.exc = []
        this.exc.push({ x: this.results.wave_frequency,
          y: fex_1,
          mode: 'line', name: 'Real - beta: ' + this.ang + 'deg, DOF: ' + this.dof })
        this.exc.push({ x: this.results.wave_frequency,
          y: fex_2,
          mode: 'line', name: 'Img - beta: ' + this.ang + 'deg, DOF: ' + this.dof ,
          yaxis: 'y2'})

        this.layout_exc.yaxis.title.text = 'Excitation Coeff. Real, (N/m - Nm/m)'
        this.layout_exc.yaxis2.title = 'Excitation Coeff. Imag, (N/m - Nm/m)'
        this.layout_exc.yaxis2.titlefont = {color: 'rgb(148, 103, 189)'}

      }


    }
  }
}
</script>
