<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <el-container>
    <el-main style="margin-bottom: 80px">
      <div v-loading="loading">
        <div v-if="studyId == null">
          Please select a project from the studies list, in the side menu.
        </div>
        <div v-else>
          <el-progress style="margin: 10px" :text-inside="true" :stroke-width="20" :percentage="status" :status="statusBar"></el-progress>
          <el-card :body-style="{ background: 'rgb(233,233,235)' }" shadow="never">
            <div slot="header" class="clearfix">
              <div style="display: flex; align-items: center; justify-content: space-between; background-color: #F5F7FA; padding: 10px 30px;">
                <el-button type="text" :icon="iconDimensions" @click="pushGeneral" circle data-cy="linkGeneral">General</el-button>
                <i class="el-icon-d-arrow-right"></i>
                <el-button type="text" :icon="iconGeneral" @click="pushDimensions" data-cy="linkDimensions">Dimensions</el-button>
                <i class="el-icon-d-arrow-right"></i>
                <el-button type="text" :icon="iconModel" @click="pushModel" :disabled="lockModel" data-cy="linkModel">Model</el-button>
                <i class="el-icon-d-arrow-right" v-if="wec3" ></i>
                <el-button type="text" :disabled="disable" @click="postCalculation" v-if="wec3" data-cy="linkCalculation">Outputs</el-button>
                <i class="el-icon-d-arrow-right"></i>
                <el-button type="text" :icon="iconLock" :disabled="lockDisable" @click="lockData" data-cy="linkLock"></el-button>
              </div>
            </div>
            <div><router-view /></div>
          </el-card>
        </div>
      </div>
    </el-main>
    <!-- <footer class="dtop-footer">
      <div style="display: flex; width: 100vw; align-items: center; align-content: center; justify-content: space-between;">
        <div style="display: flex; align-items: flex-start; flex-direction:column;">
          <span style="font-size: 250%; color: teal; text-transform: capitalize">{{ studyTitle }}</span>
          <span>ID# {{ studyId }}</span>
        </div>
        <div style="display: flex; align-items: flex-end; flex-direction:column;">
          <span style="font-size: 250%; color: teal; text-transform: capitalize" v-if="studyData.type.toLowerCase()=='wec'">Wave Converter</span>
          <span style="font-size: 250%; color: teal; text-transform: capitalize" v-else>Tidal Converter</span>
          <span style="float: right">Stage/Complexity {{ studyData.complexity }}</span>
        </div>
      </div>
    </footer> -->
  </el-container>

</template>

<script>
import axios from 'axios'
import mixin from '../../mixin.js'
const asset_wec = require('@/assets/wec_def.jpg')
const asset = require('@/assets/tec_def.png')

export default {
  mixins: [mixin],
  data() {
    return {
      definitions: [{ var: 'DOF', def: 'Degree of Freedom' },
        { var: 'CWR', def: 'Capture Width Ratio' },
        { var: 'x-direction', def: 'Defined in agreement with the machine coordinate system, e.g. Tidal: rotation axis' }],
      LogTable: [],
      logs_visible: false,
      LogFile: '',
      asset,
      asset_wec,
      project: false,
      studyData: [],
      loading: true,
      openDrawer: false,
      statusBar: "",
      lockDisable: true,
      iconLock: "el-icon-unlock",
      lockModel: true
    }
  },
  computed: {
    status() {
      if ( this.$store.getters.status == 100 ) {
        this.statusBar = "success"
        this.iconLock = "el-icon-lock"
      }
      if ( this.$store.getters.status >=99 ) {
        this.lockDisable = false
      }
      if ( this.$store.getters.status >=36 ) {
        this.lockModel = false
      }
      return this.$store.getters.status
    },
    studyId() {
      return this.$store.getters.studyId
    },
    studyTitle() {
      return this.$store.getters.studyTitle
    },
    disable() {
      if (this.status >= 54) {
        return false
      }
      return true
    },
    wec3() {
      if ( this.studyData.complexity == 3 && this.studyData.type.toLowerCase() == 'wec' ) {
        return true
      }
      return false
    }
  },
  created() {
    var entityID = this.$route.query.entityID
    if ( this.studyId !== parseInt(this.studyId, 10) ) {
      if ( entityID === undefined ) {
        // if the studyID is not defined and the entityID is not defined raise an error
        this.$message.error('Invalid Project ID, please go the Main Module page and re-open the correct entity for the Machine Characterization Module')
        return -1
      }
      // if the studyID is not set and the entityID is available we save the value to Vuex
      this.$store.dispatch('studies/setId', { studyId: parseInt(entityID, 10) })
    } else {
      if ( entityID !== undefined ) {
        // if the studyID is set but it is different from the query parameter
        // the value is reset to the incoming parameter in Vuex
        this.$store.dispatch('studies/setId', { studyId: parseInt(entityID, 10) })
      }
      // if the studId is set and entityId is not, there is nothing to do
    }
    this.get_mc_study(this.$store.getters.studyId)
  },
  methods: {
    // saveToFile(index, rows) {


    //   var studyData = { project: this.studyData, general: null, dimensions: null, model: null, hydro: null }

    //   const URLs = [`${process.env.VUE_APP_API_URL}/mc/${this.studyId}/general`,
    //     `${process.env.VUE_APP_API_URL}/mc/${this.studyId}/dimensions`,
    //     `${process.env.VUE_APP_API_URL}/mc/${this.studyId}/model/${this.studyData.type.toLowerCase()}/complexity${this.studyData.complexity}`,
    //     `${process.env.VUE_APP_API_URL}/mc/${this.studyId}/single_machine_hydrodynamic`]

    //   const requests = URLs.map(URL => axios.get(URL).catch(err => null))

    //   axios.all(requests)
    //     .then(axios.spread((...r) => {
    //       for (const k of ['general', 'dimensions', 'model', 'hydro']) {
    //         var ob = r.find(o => {
    //           if (o == null) { return null }
    //           if (o.request.responseURL.includes(k) && o.data != null) {
    //             debugger
    //             if (Object.keys(o.data).includes('id')) {delete o.data.id}
    //             if (Object.keys(o.data).includes('project')) {delete o.data.project}
    //             return o
    //           }
    //           return null
    //         })
    //         debugger
    //         studyData[k] = (ob != null) ? (ob.data) : (null)
    //       }
    //       this.downloadProjectFile(studyData, `${studyData.project.title}_prj.json`)
    //     }))
    //     .catch((error) => {
    //       this.$message({ message: error, type: 'error' })
    //     })
    // },
    // downloadProjectFile(jsonData, filename) {
    //   const jsonDataString = JSON.stringify(jsonData)
    //   const blob = new Blob([jsonDataString], { type: 'text/plain;charset=utf-8;' })
    //   if (navigator.msSaveBlob) { // IE 10+
    //     navigator.msSaveBlob(blob, filename)
    //   } else {
    //     const link = document.createElement('a')
    //     if (link.download !== undefined) { // feature detection
    //       // Browsers that support HTML5 download attribute
    //       const url = URL.createObjectURL(blob)
    //       link.setAttribute('href', url)
    //       link.setAttribute('download', filename)
    //       link.style.visibility = 'hidden'
    //       document.body.appendChild(link)
    //       link.click()
    //       document.body.removeChild(link)
    //     }
    //   }
    // },
    lockData() {
      if (this.status === 100) {return 0}
      this.$confirm('This will permanently lock the entity data. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('studies/updateStatus', { key: 'lock', value: true })
          this.$message({
            type: 'success',
            message: 'Lock completed'
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Lock canceled'
          });
        });

    },
    pushGeneral() {
      this.iconGeneral = "el-icon-edit"
      this.iconDimensions = null
      this.iconModel = null
      this.$router.push({ name: "GeneralInput" })
    },
    pushDimensions() {
      this.iconGeneral = null
      this.iconDimensions = "el-icon-edit"
      this.iconModel = null
      this.$router.push({ name: "DimensionInput" })
    },
    pushModel() {
      this.iconGeneral = null
      this.iconDimensions = null
      this.iconModel = "el-icon-edit"
      this.$router.push({ name: "ModelInput" })
    },
    postCalculation() {
      this.$router.push({ name: "HydroOutput" })
    },
    openLogs() {
      this.logs_visible = true
      this.fetchLogs()
    },
    fetchLogs() {
      const path = `${process.env.VUE_APP_API_URL}/mc/logs`
      axios
        .get(path)
        .then((res) => {
          this.LogFile = res.data
          var today = new Date()
          var date = today.getFullYear() + '-'
          this.LogFile = this.LogFile.replaceAll(date, '\n' + date)
          this.LogFile = this.LogFile.split('\n')
          for (let i = this.LogFile.length - 1; i >= 0; i--) {
            this.LogTable.push({ msg: this.LogFile[i] })
            // if (this.LogFile[i].includes(' :: INFO')) {
            //   const temp = this.LogFile[i].split(" :: INFO")
            //   this.LogTable.push({msg: temp[1]})
            // }
            // if (this.LogFile[i].includes(' :: DEBUG')) {
            //   const temp = this.LogFile[i].split(" :: DEBUG")
            //   this.LogTable.push({msg: temp[1]})
            // }
            // if (this.LogFile[i].includes('POST /mc/')||this.LogFile[i].includes('GET /mc/')||this.LogFile[i].includes('OPTIONS /mc/')) {

            // }
          }
        })
        .catch((error) => {
          console.log(error.message)
        })
    },
    get_mc_study(mc_ID) {
      const path = `${process.env.VUE_APP_API_URL}/mc/${mc_ID}`
      console.log('PATH', path)
      axios.get(path)
        .then((res) => {
          this.project = true
          this.studyData = res.data
          this.loading = false
          if (this.studyData.type == 'WEC') {
            this.asset = this.asset_wec
          }
        })
        .catch((error) => {
          this.project = false
          this.loading = false
          console.log('ASSET', this.asset)
        })
    }
  }
}
</script>

<style scoped>
.dtop-footer {
  z-index:10000;
  height: 80px;
  padding: 20px;
  width: 100vw;
  position: fixed;
  bottom: 0px;
  right: 0px;
  color: #e2ebf0;
  background-color: rgb(2, 44, 95);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>

