<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <p>
    This is a temporary page for the landing of the Main Module. The user is redirected to the input page
    as soon as the Vuex state is completed.
  </p>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      mc_entity: null
    }
  },
  created() {
    var entityID = this.$route.query.entityID
    if ( entityID === undefined ) {
      // if the studyID is not defined and the entityID is not defined raise an error
      this.$message.error('Invalid Project ID, please go the Main Module page and re-open the correct entity for the Machine Characterization Module')
      return -1
    }
    // if the studyID is not set and the entityID is available we save the value to Vuex
    this.$store.dispatch('studies/setId', { studyId: parseInt(entityID, 10) })
    this.getProject(parseInt(entityID, 10))
  },
  methods: {
    getProject(entityID) {
      const path = `${process.env.VUE_APP_API_URL}/mc/${entityID}`
      axios
        .get(path)
        .then(res => {
          this.mc_entity = res.data
          this.openEntity()
        })
        .catch(error => {
          this.mc_entity = null
          this.$message.error(error)
          console.error(error)
        })
    },
    openEntity() {
      debugger
      this.$store.dispatch('studies/setId', { studyId: this.mc_entity.id })
      this.$store.dispatch('studies/setTitle', { studyTitle: this.mc_entity.title })
      this.$store.dispatch('studies/setBodies', { wecBodies: [] })
      this.$store.dispatch('studies/setJoints', { wecJoints: [] })
      this.$store.dispatch('studies/setComplexity', { complexity: this.mc_entity.complexity })
      this.$store.dispatch('studies/setMachine', { machine: this.mc_entity.type })

      // FIRST RESET THE STATUS OBJECT
      this.$store.dispatch('studies/updateStatus', { key: 'general' , value: false })
      this.$store.dispatch('studies/updateStatus', { key: 'dimensions' , value: false })
      this.$store.dispatch('studies/updateStatus', { key: 'model' , value: false })
      this.$store.dispatch('studies/updateStatus', { key: 'results' , value: false })
      this.$store.dispatch('studies/updateStatus', { key: 'lock' , value: false })

      // THEN UPDATE THE STATUS OBJECT WITH THE DATA FROM THE ENTITY
      this.$store.dispatch('studies/updateStatus', { key: 'general' , value: this.mc_entity.general!==null })
      this.$store.dispatch('studies/updateStatus', { key: 'dimensions' , value: this.mc_entity.dimensions!==null })
      this.$store.dispatch('studies/updateStatus', { key: 'model' , value: this.mc_entity.model!==null })
      this.$store.dispatch('studies/updateStatus', { key: 'results' , value: this.mc_entity.results!==null })
      this.$store.dispatch('studies/updateStatus', { key: 'lock' , value: this.mc_entity.data_lock })
      this.$router.push({ name: 'GeneralInput' })
    }
  }
}
</script>
