<!--
This is is the Machine Characterization (MC) module for the DTOceanPlus suite of Tools.
Copyright (C) 2021 AAU-Build - Francesco Ferri

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>

    <el-button :disabled="single_body" icon="el-icon-check" round data-cy="submit_form" @click="showForm">Add Body</el-button>

    <el-dialog title="Body Form" :visible.sync="dialogFormVisible" width= "80%">
      <el-form ref="body" :model="body" :rules="rules" label-width="200px">
        <el-form-item>
          <el-button icon="el-icon-check" round data-cy="submit_form" @click="submitForm('body')">Confirm</el-button>
          <el-button round @click="resetForm('body')">Cancel</el-button>
        </el-form-item>
        <div style="display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #000; padding: 10px 30px;">
          <el-form-item label="Body Mass [kg]" prop="mass">
            <el-input-number v-model="body.mass" :precision="1" :min="0" :controls="false" />
          </el-form-item>
          <el-form-item label="Body Mesh Type" prop="mesh_format">
            <el-select v-model="body.mesh_format" clearable placeholder="Select">
              <el-option label="Nemoh" value="dat" />
              <el-option label="WAMIT" value="gdf" />
            </el-select>
          </el-form-item>
          <el-form-item label="" prop="mesh">
            <el-button :disabled="body.mesh_format==''" style="margin-left:16px;" size="mini" type="primary" @click="handleUpload">
              Browse
            </el-button>
            <input ref="mesh-upload-input" class="mesh-upload-input" type="file" :accept="'.'+body.mesh_format" @change="handleClick">
          </el-form-item>
        </div>
        <div style="display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #000; padding: 10px 30px;">
          <el-alert
            v-if="body.mesh===''"
            title="No mesh file provided. Upload a mesh for the body"
            type="warning">
          </el-alert>
          <el-alert
            v-else
            type="success">
            <div slot="title">
              <p>Uploaded mesh file name: <i>{{ body.mesh }}</i></p>
            </div>
          </el-alert>
          <!-- <span v-if="body.mesh===''"> &nbsp; &nbsp;-&nbsp;&nbsp;No mesh file provided. Upload a mesh for the body</span>
          <span v-else> &nbsp; &nbsp;-&nbsp;&nbsp;Uploaded mesh file name: <i>{{ body.mesh }}</i></span> -->
        </div>
        <el-form-item label-width="20px" label=" " required>
          <el-table :data="joint_t" stripe="stripe" header-align="center">
            <el-table-column prop="title" label="" width="180" />
            <el-table-column prop="val" label="X" header-align="center">
              <template slot-scope="scope">
                <el-input-number v-model="scope.row.val.x" :controls="false" :precision="2" size="small" />
              </template>
            </el-table-column>
            <el-table-column prop="val" label="Y" header-align="center">
              <template slot-scope="scope">
                <el-input-number v-model="scope.row.val.y" :controls="false" :precision="2" size="small" />
              </template>
            </el-table-column>
            <el-table-column prop="val" label="Z" header-align="center">
              <template slot-scope="scope">
                <el-input-number v-model="scope.row.val.z" :controls="false" :precision="2" size="small" />
              </template>
            </el-table-column>
          </el-table>
        </el-form-item>
      </el-form>
    </el-dialog>

    <el-table-draggable>
      <el-table
        :data="bodies"
        style="width: 100%"
      >
        <el-table-column width="50">
          <i class="el-icon-rank" />
        </el-table-column>
        <el-table-column
          type="index"
          :index="indexMethod"
          label="ID"
        />
        <el-table-column
          v-for="k in body_keys"
          :key="k.key"
          :prop="k.prop"
          :label="k.label"
        >
          <template slot-scope="scope">
            {{ scope.row[k.prop] }}
          </template>
        </el-table-column>
        <el-table-column
          label="Operations"
          width="120"
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              icon="el-icon-delete"
              @click.native.prevent="deleteRow(scope.$index, bodies)"
            />
            <el-button
              type="text"
              size="small"
              icon="el-icon-edit"
              @click.native.prevent="editRow(scope.$index, bodies)"
            />
          </template>
        </el-table-column>
      </el-table>
    </el-table-draggable>

    <el-card>
      <div><Plotly :data="mesh_viewer" /></div>
    </el-card>
  </div>

</template>

<script>
import ArrayInput from '@/components/ArrayInput/index.vue'
import { Plotly } from 'vue-plotly'
import ElTableDraggable from 'element-ui-el-table-draggable'
import mixin from '../../mixin.js'

export default { // eslint-disable-line
  components: { ArrayInput, Plotly, ElTableDraggable },
  props: ['wec'],
  mixins: [mixin],
  data() {
    var checkMass = (rule, value, callback) => {
        if (!value || value<=0) {
          return callback(new Error('Please input value larger than 0 kg'));
        } else {
          callback();
        }
      };
    return {
      formEdit: false,
      rules: {
        mesh_format: [
          { required: true, message: 'Please select a Mesh format', trigger: 'change' }
        ],
        mass: [
          { required: true, validator: checkMass, trigger: 'blur' }
        ],
        mesh: [
          { required: true, message: 'Please select a Mesh file', trigger: 'blur' }
        ]
      },
      dialogFormVisible: false,
      joint_t: [
        { prop: 'cog', title: 'Center of Gravity [m]',
          val: { x: 0, y: 0, z: 0 }},
        { prop: 'axis_angles', title: 'Euler Orientation Angles [deg]',
          val: { x: 0, y: 0, z: 0 }},
        { prop: 'moi_x', title: 'Moment of Inertia Tensor - X [kg m2]',
          val: { x: 1, y: 0, z: 0 }},
        { prop: 'moi_y', title: 'Moment of Inertia Tensor - Y [kg m2]',
          val: { x: 0, y: 1, z: 0 }},
        { prop: 'moi_z', title: 'Moment of Inertia Tensor - Z [kg m2]',
          val: { x: 0, y: 0, z: 1 }}],
      body_keys: [{ label: 'Mass', key: 'mass', prop: 'mass' },
        { label: 'MoI', key: 'MoI', prop: 'MoI' },
        { label: 'CoG', key: 'cog', prop: 'cog' },
        { label: 'Euler Angles', key: 'axis_angles', prop: 'axis_angles' },
        { label: 'Mesh', key: 'mesh', prop: 'mesh' }],
      body: {
        ID: [],
        mass: null,
        MoI: [],
        mesh: '',
        mesh_raw: '',
        mesh_format: '',
        cog: [],
        axis_angles: [],
        number_panel: null,
        number_vertex: null
      },
      mesh_viewer: { data: null, title: null }
    }
  },
  computed: {
    // body_keys() {
    //   var body_key_row = Object.keys(this.body);
    //   return body_key_row.map(item => { return {key: item, prop: item, label: item.replace(/_/gi, ' ')}})
    // },
    bodies() {
      return this.$store.getters.wecBodies
    },
    single_body() {
      if (this.wec != '3') {
        return this.bodies.length >= parseInt(this.wec)
      }
      return false
    }
  },
  watch: {
    bodies() {
      this.bodies.forEach((item, index) => { item.ID = [index] })
      debugger
      this.mesh_viewer = this.bodyMesh(this.bodies)
    }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.manageBodies()
        } else {
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
      this.dialogFormVisible = false
    },
    handleUpload() {
      this.$refs['mesh-upload-input'].click()
    },
    handleClick(e) {
      const files = e.target.files
      const rawFile = files[0] // only use files[0]
      if (!rawFile) return
      this.decodeMesh(rawFile)
    },
    decodeMesh(file) {
      if (this.body.mesh_format == 'dat') {
        console.log(1)
        this.decodeDat(file)
      } else {
        debugger
        this.decodeGDF(file)
        console.log(2)
      }
    },
    decodeGDF(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsText(file)
        reader.onload = (e) => {
          debugger
          let temp = e.target.result
          temp = temp.split(/\r?\n/)
          for (let i = 0; i < temp.length; i++) {
            if (temp[i] === '\n') {
              temp.splice(i, 1)
            }
          }
          this.body.mesh = file.name
          debugger
          this.convertGdf2Dat(temp)
        }
        resolve()
      })
    },
    convertGdf2Dat(data) {
        debugger
        const symmetry = data[2].match(/\d+(?:\.\d+)?/g).map(Number)
        const number_panels = data[3].match(/\d+(?:\.\d+)?/g).map(Number)

        var mesh_data = []
        mesh_data.push('2 ' + symmetry[0])

        // check if the data is save din the ver1 or ver2
        // ver1 the vertex of a single panel are given all in one line
        // ver2 the vertex of a single panel are broken down in 4 lines
        const version = data[4].match(/\d+(?:\.\d+)?/g).map(Number)
        if (version.length === 12) {
          // version 1
          // need to decode each panel and restructure to the dat format
          var d = []
            let ind = 0
            for (let ii=0; ii<number_panels; ii++) {
                d = data[ii+4].match(/-?\d+(?:\.\d+)?/g).map(Number)
                mesh_data.push(ind+1 + " " + d.slice(0, 3).join(" "))
                mesh_data.push(ind+2 + " " + d.slice(3, 6).join(" "))
                mesh_data.push(ind+3 + " " + d.slice(6, 9).join(" "))
                mesh_data.push(ind+4 + " " + d.slice(9).join(" "))
                ind += 4
            }
        } else {
          // version 2
          // only push the data to the dat format
          for (let ii=0; ii<number_panels*4; ii++) {
              mesh_data.push(ii+1 + data[ii+4])
          }
        }

        mesh_data.push('0 0. 0. 0.')
        var ind = 1
        for (let jj=0; jj<number_panels; jj++) {
            mesh_data.push([ind,ind+1,ind+2,ind+3].join(" "))

            ind += 4
        }
        mesh_data.push('0 0. 0. 0.')
        this.body.mesh_raw = mesh_data
    },
    decodeDat(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsText(file)
        reader.onload = (e) => {
          debugger
          let temp = e.target.result
          temp = temp.split(/\r?\n/)
          for (let i = 0; i < temp.length; i++) {
            if (temp[i] === '\n') {
              temp.splice(i, 1)
            }
          }
          this.body.mesh_raw = temp
          this.body.mesh = file.name
        }
        resolve()
      })
    },
    showForm() {
      this.dialogFormVisible = true
    },
    getProperty(key) {
      // return the propery based on the key and remove possible null or undefined
      // the null or undefined are replaced by 0
      var values = Object.values(this.joint_t.filter(o => o.prop == key)[0].val)
      return values.map(el => el == null ? 0 : el)
    },
    manageBodies() {
      this.editBody()
      if (this.formEdit) {
        debugger
        // push the body into the bodies list using the ID
        this.bodies[this.body.ID[0]] = this.body
      } else {
        // if we do not Edit the body add the body ID and
        // push the body to the list of bodies
        this.body.ID = [this.bodies.length]
        this.bodies.push(this.body)
      }

      this.reset()
      this.$store.dispatch('studies/setBodies', { wecBodies: this.bodies })
      // this.$emit('update:bodies', this.bodies)
      this.dialogFormVisible = false
    },
    editBody() {
      // edit the Body content using the form values
      debugger
      this.body.cog = this.getProperty('cog')
      this.body.axis_angles = this.getProperty('axis_angles')
      this.body.MoI = [
        this.getProperty('moi_x'),
        this.getProperty('moi_y'),
        this.getProperty('moi_z')]

      this.body.child_dof_position = [],
      this.body.dof_with_parent = [],
      this.body.extended_dof = 0,
      this.body.number_child = 0,
      this.body.parent_body = [-1]
    },
    deleteRow(index, rows) {
      rows.splice(index, 1)
      // this.$emit('update:bodies', this.bodies)
      this.$store.dispatch('studies/setBodies', { wecBodies: this.bodies })
    },
    indexMethod(index) {
      return index
    },
    editRow(index, rows) {
      debugger
      this.body = rows[index]
      this.joint_t = [
        { prop: 'cog', title: 'Center of Gravity [m]',
          val: { x: this.body.cog[0], y: this.body.cog[1], z: this.body.cog[2] }},
        { prop: 'axis_angles', title: 'Euler Orientation Angles [deg]',
          val: { x: this.body.axis_angles[0], y: this.body.axis_angles[1], z: this.body.axis_angles[2] }},
        { prop: 'moi_x', title: 'Moment of Inertia Tensor - X [kg m2]',
          val: { x: this.body.MoI[0][0], y: this.body.MoI[0][1], z: this.body.MoI[0][2] }},
        { prop: 'moi_y', title: 'Moment of Inertia Tensor - Y [kg m2]',
          val: { x: this.body.MoI[1][0], y: this.body.MoI[1][1], z: this.body.MoI[1][2] }},
        { prop: 'moi_z', title: 'Moment of Inertia Tensor - Z [kg m2]',
          val: { x: this.body.MoI[2][0], y: this.body.MoI[2][1], z: this.body.MoI[2][2] }}],
      this.dialogFormVisible = true
      this.formEdit = true
    },
    viewRow(index, rows) {
      var mesh_dat = rows[index].mesh_raw
      var mesh_name = rows[index].mesh
      var array = []
      var m = { type: 'mesh3d', x: [], y: [], z: [], i: [], j: [], k: [] }
      var i = 1
      while (true) {
        debugger
        // array = mesh_dat[i].split(' ').map(Number)
        array = mesh_dat[i].split(/\r?\n|[ ]+/).filter(Boolean).map(Number)
        if (array[0] == 0) {
          break
        }
        m.x.push(array[1])
        m.y.push(array[2])
        m.z.push(array[3])
        i++
      }

      for (var j = i + 1; j < mesh_dat.length; j++) {
        array = mesh_dat[j].match(/\d+(?:\.\d+)?/g).map(Number)
        if (array[0] == 0) {
          break
        }
        m.i.push(array[0] - 1)
        m.j.push(array[1] - 1)
        m.k.push(array[2] - 1)
        if (array.length == 4) {
          m.i.push(array[0] - 1)
          m.j.push(array[2] - 1)
          m.k.push(array[3] - 1)
        }
      }
      this.mesh_viewer = { data: [m], title: mesh_name }
    },
    reset() {
      this.body = { ID: [],
        mass: null,
        MoI: [],
        mesh: '',
        mesh_raw: '',
        mesh_format: '',
        cog: [],
        axis_angles: [],
        number_panel: null,
        number_vertex: null
      }
    }
  }
}
</script>

<style scoped>
.mesh-upload-input{
  display: none;
  z-index: -9999;
}
</style>

// body_form: {
//x         ID: null,
//x         parent_body: null,
//x         mass: null,
//         MoI: [],
//x         mesh: '',
//x         mesh_format: '',
//x         cog: [],
//         axis_angles: [],
//         extended_dof: null,
//         child_dof_position: [],
//x         dof_with_parent: [],
//         number_panel: null,
//         number_vertex: null
//       },
